<div fxLayout="row" class="tab-content">
    <div fxFlex="20">
        <h1 class="section-heading">Events History</h1>
    </div>
    <div fxFlex="80">
        <div class="content-area">
            <div class="list-box" fusePerfectScrollbar fxFlex>
                <irms-generic-list [dataListObservable]="data" [dataListItemBody]="childComponent"
                    [selectable]="selectable" [loaderType] = "'section-list'"
                    (onChangePagination)="changePagination($event)" 
                    [emptyHeading]="'No past events history'" [emptyMessage]="''">
                </irms-generic-list>
            </div>
        </div>
        <div class="pagination">
            <mat-paginator [length]="(data | async)?.totalCount" [pageSize]="sectionService.pageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           [pageIndex]="sectionService.pageIndex" (page)="changePagination($event)">
            </mat-paginator>
        </div>
    </div>
</div>