<div class="continue_container" (click)="gotoNext()">
  <button *ngIf="!isArabic" [ngStyle]="{'background-color': theme?.background, 'color': theme?.text}" class="continue_btn">
    {{buttonText}}
  </button>
  <button *ngIf="isArabic && buttonText != 'OK'"[ngStyle]="{'background-color': theme?.background, 'color': theme?.text}" class="continue_btn">
      {{buttonText}}  
  </button>
  <button *ngIf="isArabic && buttonText == 'OK'"[ngStyle]="{'background-color': theme?.background, 'color': theme?.text}" class="continue_btn">
      التالي
  </button>
    
  <span *ngIf="!isArabic && !hideNextHint" [ngStyle]="{'color': theme?.buttons}">press ENTER</span>
  <span *ngIf="isArabic && !hideNextHint" [ngStyle]="{'color': theme?.buttons}">اضغط دخول</span>
</div>