<div class="navbar-header">

    <div class="logo">
        <img class="logo-icon" src="">
        <span class="logo-text">
          See-U
           <div class="version">{{version}}</div>
        </span>
    </div>

    <button mat-button class="toggle-button-navbar mat-icon-button" fuseNavbarVertical="toggleFold" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-button class="toggle-button-navbar mat-icon-button" fuseNavbarVertical="closeBar" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" fusePerfectScrollbar [fusePerfectScrollbar]="true">
    <navbar-horizontal-style-1 layout="vertical"></navbar-horizontal-style-1>
</div>
