<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="start start">
      <span class="list-detail-item" fxFlex="80" irmsTextOverflow fxLayoutAlign="start start">{{data.name}}</span>
      <span class="chip1" *ngIf="data.count">{{data?.count}} Contacts</span>
    </div>
  </div>
