<h2 mat-dialog-title>Password</h2>

<mat-dialog-content>


    <form fxFlex="100" fxLayout="column" fxLayoutAlign="start" [formGroup]="passChangeForm" [@animate]="{
        value: '*',
        params: { delay: '100ms', x: '-25px' }
    }">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100">
                <input matInput autocomplete="new-password" formControlName="oldPassword"
                    [type]="showPassword1.checked ? 'text' : 'password'" placeholder="Password">
                <mat-button-toggle #showPassword1 matSuffix>
                    <mat-icon *ngIf="showPassword1.checked">visibility</mat-icon>
                    <mat-icon *ngIf="!showPassword1.checked">visibility_off</mat-icon>
                </mat-button-toggle>
                <mat-error *ngIf="passChangeForm.controls.oldPassword.hasError('required')">
                    This input field cannot be empty
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100">
                <input matInput autocomplete="new-password" formControlName="newPassword"
                    [type]="showPassword2.checked ? 'text' : 'password'" placeholder="New Password">
                <mat-button-toggle #showPassword2 matSuffix>
                    <mat-icon *ngIf="showPassword2.checked">visibility</mat-icon>
                    <mat-icon *ngIf="!showPassword2.checked">visibility_off</mat-icon>
                </mat-button-toggle>
                <mat-error *ngIf="passChangeForm.controls.newPassword.hasError('required')">
                    This input field cannot be empty
                </mat-error>
                <mat-error *ngIf="passChangeForm.controls.newPassword.value.length < 8">
                    Password must be at least 8 characters long.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100">
                <input matInput autocomplete="new-password" formControlName="confirmNewPassword"
                    [type]="showPassword3.checked ? 'text' : 'password'" placeholder="Confirm New Password">
                <mat-button-toggle #showPassword3 matSuffix>
                    <mat-icon *ngIf="showPassword3.checked">visibility</mat-icon>
                    <mat-icon *ngIf="!showPassword3.checked">visibility_off</mat-icon>
                </mat-button-toggle>
                <mat-error *ngIf="passChangeForm.controls.confirmNewPassword.hasError('required')">
                    This input field cannot be empty
                </mat-error>
                <mat-error *ngIf="passChangeForm.controls.confirmNewPassword.value.length < 8">
                    Password must be at least 8 characters long.
                </mat-error>
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions class="actions" fxFlexAlign="center end">
    <button mat-flat-button class="mat-flat-button secondary-button" [disabled]="isLoading" (click)="cancel()">Cancel</button>
    <button mat-flat-button class="mat-flat-button primary-button" [irmsButtonLoader]="isLoading" [disabled]="!passChangeForm.valid" (click)="confirm()">Confirm</button>
</mat-dialog-actions>