<div class="input-control">
  <input [ngStyle]="{'color': theme.answers.color}" autofocus 
    *ngIf="!question.multiline" [formControl]="inputControl" type="text" class="swipperForm_input"
    (keypress)="onPressEnter($event)" autocomplete="off" [required]="question.required" [minlength]="question.minLength"
    [maxlength]="question.maxLength" [pattern]="question.pattern" [placeholder]="!isArabic ? placeholder : placeholderArabic">
  <textarea [ngStyle]="{'color': theme.answers.color}"  rows="2"
    (keypress)="onPressEnter($event)" *ngIf="question.multiline" [formControl]="inputControl" type="text"
    class="swipperForm_input" autocomplete="off" [required]="question.required" [minlength]="question.minLength"
    [maxlength]="question.maxLength" [pattern]="question.pattern" [placeholder]="!isArabic ? placeholder : placeholderArabic"></textarea>
</div>
<div class="error-message"
  *ngIf="inputControl.hasError('required') && inputControl.dirty">
  <span *ngIf="isArabic">هذا الحقل مطلوب</span>
  <span *ngIf="!isArabic">Please fill this in</span>
</div>
<div class="error-message"
  *ngIf="!inputControl.valid && !inputControl.hasError('required') && inputControl.dirty">
  <span *ngIf="isArabic">هذا لا يبدو صحيحاً</span>
  <span *ngIf="!isArabic">Hmm...This doesn't seem valid</span>
</div>
<irms-continue-button [isArabic]="isArabic" [theme]="theme.buttons"
  *ngIf="inputControl.valid && inputControl.dirty && !reviewMode" (next)="gotoNext()">
</irms-continue-button>