@import "../../../../../../constants/variables.scss";

.cards {
    margin-bottom: 48px;
    
    .media-card.card {
        padding: 0 !important;
        height: 400px;
        max-width: 53vw;
        &.wider-cards {
            max-width: 68vw;
        }

        .header-items {
            display: flex;
            overflow-x: auto;
            max-width: 100%;            
            .header-item {
                display: flex;
                flex-direction: column;
                margin-right: 24px;
                margin-top: 12px;
                text-align: center;

                .header-item-number {
                    text-align: center;
                    font-size: 24px;
                }

                .header-item-legend {
                    text-transform: uppercase;
                    font-size: 13px;
                }
            }
        }

        .mat-card-header {
            height: 100px;
        }

        .mat-card-content ::ng-deep { 
            padding: 0;
            height: 300px;
        }

        .card-content {
            display: flex;
            flex-direction: row;
            height: 100%;

            .card-name {
                border-right: 2px solid $accent-color;
                text-align: center;
                width: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;

                .card-name-text {
                    writing-mode: tb-rl;
                    transform: rotate(-180deg);
                    display: inline-block;
                    vertical-align: middle;
                    line-height: normal;
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            .cart-content-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: calc(100% - 60px);
                padding: 30px 10px 30px 30px;

                .card-content-image {
                    height: 200px;
                    width: 200px;

                    .image {
                        width: 100%;
                        height: auto;
                    }
                }

                .card-content-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 95px;
                    width: 40%;

                    .info-item {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        .info-label {
                            font-size: 16px;
                            width: 150px; 
                        }

                        .info-input {
                            width: 60%;
                            padding: 10px;
                            box-sizing: border-box;
                            border: 1px solid grey;
                            border-radius: 4px;

                            &::placeholder {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }                
        }

        ::ng-deep {
            min-height: 400px;
            padding: 0;
        }
    }
}


.blocked-button {
    cursor: unset; 
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}