<div class="cards">
    <mat-card class="media-card card" [ngClass]="{'wider-cards': fullWidth}">
        <mat-card-header>
            <mat-card-title>
                <div class="header-items" fxLayout="row" fxLayoutAlign="center start">
                    <div class="header-item" *ngFor="let item of informationBar">
                        <span class="header-item-number">
                            {{item.value}}
                        </span>
                        <span class="header-item-legend">
                            {{item.name}}
                        </span>
                    </div>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="card-content">
                <div class="card-name">
                    <span class="card-name-text">{{leftMessage}}</span>
                </div>
                <div class="cart-content-wrapper">
                    <div class="card-content-image">
                        <img class="image" src="{{transparentSource}}">
                    </div>
                    <div class="card-content-body">
                        <div class="info-item" *ngFor="let item of templateInformation">
                            <div class="info-label" *ngIf="item.name">{{item.name}}</div>    
                            <button class="mat-flat-button secondary-button blocked-button" *ngIf="item.name">{{item.value}}</button>                              
                        </div>
                    </div>
                    <div class="actions">
                        <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action" (click)="$event.stopPropagation();">
                            <mat-icon>more_vert</mat-icon>
                            </button>
                        <mat-menu #actionMenu="matMenu">
                            <button mat-menu-item (click)="rename()">
                                <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="export()">
                                <mat-icon>title</mat-icon>
                            <span>Preview</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>