<mat-card class="media-card"  [ngClass]="{'disabled': disabled, 'expanded': !disabled && editEmail, 'dialogView': isDialog}">
    <mat-card-header>
        <mat-card-title>
            <div [@mediaCardHeader]="editEmail" fxLayout="row" >
                <div fxFlex fxLayoutAlign="{{editEmail? 'start center' : 'center center'}}">
                    <mat-icon>email</mat-icon><span>Email</span>
                </div>
                <div fxFlex="70" *ngIf="!disabled && editEmail"  fxLayoutAlign="end center" [@animate]="{value:'*',params:{duration:'300ms',x:'200px'}}" >
                    <button mat-icon-button [title]="'Save Email Template'" (click)="emailSave()"><mat-icon>save</mat-icon></button>
                    <button mat-icon-button [title]="'Preview Email Template'" (click)="emailPreviewMethod()"><mat-icon>remove_red_eye</mat-icon></button>
                    <button *ngIf="!isDialog" mat-icon-button [title]="'Expand view'" (click)="openDialogView(true)"><mat-icon>fullscreen</mat-icon></button>
                    <button *ngIf="isDialog" mat-icon-button [title]="'Minimize view'" (click)="closeDialogView(false)"><mat-icon>fullscreen_exit</mat-icon></button>
                </div>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <irms-template-thumbnail *ngIf="disabled || !editEmail" [isReview]="isReview" [hasTemplate]="emailTemplate?.sender" [toRsvp]="showRsvp"
            [thumbnail]="emailTemplate?.image" [addContentText]="'Add Email\nContent'"
            [templateType]="mediaType.Email" [templateId]="emailTemplate?.id" [disabled]="disabled"
            [onlyEmitOnCreate]="onlyEmitOnCreate" (create)="expandForEdit()" (edit)="expandForEdit()" [@expandCollapseHorizontal]="!editEmail">
        </irms-template-thumbnail>
        <irms-email-template-expanded-view *ngIf="!disabled && editEmail" 
        [invitationId]="emailTemplate?.id"
        [step]="step"
        [isReview]="isReview"
        [@expandCollapseHorizontal]="!disabled && editEmail" [isDialog]="isDialog"></irms-email-template-expanded-view>
    </mat-card-content>
</mat-card>
