:host {
  width: 100%;

  .photo{
    margin-right: 10px;
    float:left;
    img{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      &.larger {
        height: 100px;
        width: 100px;
      }
    }
  }
}

.back-img  img{
  display: inline-block;
  max-height: 100px;
  max-width: 120px;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
}
