<mat-horizontal-stepper #stepper linear [selectedIndex]="selectedTabIndex"
    [ngClass]="{'disableStepperHead': addSuccess}">
    <mat-step>
        <ng-template matStepLabel>Personal Details</ng-template>
        <div class="info-tip" fxLayout="row">
            <mat-icon>info</mat-icon>
            <div class="info-text">The contact you're adding will <strong>not be notified.</strong> <br> You can add
                additional custom fields for this contact on the Contact Details page or by uploading an Excel</div>
        </div>
        <form fxLayout="column" fxLayoutAlign="start" [formGroup]="contactPersonalForm">
            <h2 class="step-heading">Fill in personal details of the contact</h2>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>
                        Title
                    </mat-label>
                    <mat-select [formControl]="contactPersonalForm.controls['title']">
                        <mat-option *ngFor="let title of titles" [value]="title.id">
                            {{title.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-input-error [fieldLabel]="'Full Name'" [inputControl]="contactPersonalForm.controls['fullName']"
                    [errorRangeText]="'Full Name must be between 2 and 100 characters.'" [charactersCount]="100"
                    fxFlex="100" [required]="true">
                </irms-input-error>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-input-error [fieldLabel]="'Preferred Name'"
                    [inputControl]="contactPersonalForm.controls['preferredName']"
                    [errorRangeText]="'Preferred Name must be between 2 and 100 characters.'" [charactersCount]="100"
                    fxFlex="100">
                </irms-input-error>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="1 0 auto">
                <mat-label>
                    <h4>Gender</h4>
                </mat-label>
                <mat-radio-group aria-label="attendees" [formControl]="contactPersonalForm.controls['gender']"
                    fxLayout="column" fxLayoutAlign="start">
                    <mat-radio-button value="female">Female</mat-radio-button>
                    <mat-radio-button value="male">Male</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Nationality</mat-label>
                <mat-select [formControl]="contactPersonalForm.controls['nationalityId']">
                    <mat-option *ngFor="let nationality of nationalities" [value]="nationality.id">
                        {{nationality.nationality}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Document Type</mat-label>
                <mat-select [formControl]="contactPersonalForm.controls['documentTypeId']">
                    <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.id">
                        {{documentType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-input-error [fieldLabel]="'Document Number'"
                    [inputControl]="contactPersonalForm.controls['documentNumber']"
                    [errorPatternText]="'Enter Valid Document Number'" fxFlex="100">
                </irms-input-error>
            </div>
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Issuing Country</mat-label>
                <mat-select [formControl]="contactPersonalForm.controls['issuingCountryId']">
                    <mat-option *ngFor="let issuingCountry of issuingCountries" [value]="issuingCountry.id">
                        {{issuingCountry.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>ExpirationDate</mat-label>
                    <input matInput [owlDateTimeTrigger]="dt12"
                        [formControl]="contactPersonalForm.controls['expirationDate']" [owlDateTime]="dt12"
                        (dateTimeChange)="expirationDateChanged($event)" autocomplete="off">
                    <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-input-error [fieldLabel]="'Organization'"
                    [inputControl]="contactPersonalForm.controls['organization']"
                    [errorRangeText]="'Organization Name must be between 2 and 50 characters.'" [charactersCount]="50"
                    fxFlex="100">
                </irms-input-error>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-input-error [fieldLabel]="'Position'" [inputControl]="contactPersonalForm.controls['position']"
                    [errorRangeText]="'Position must be between 2 and 50 characters.'" [charactersCount]="50"
                    fxFlex="100">
                </irms-input-error>
            </div>
            <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
                fxFlex="100">
                <div class="btn">
                    <button mat-button [routerLink]="['../']" class="secondary2-button">Cancel</button>
                </div>
                <div class="btn">
                    <button mat-button matStepperNext [disabled]="contactPersonalForm.invalid"
                        class="primary-button">Next</button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="contactContactDetailForm">
        <ng-template matStepLabel>Contact Details</ng-template>
        <form fxLayout="column" fxLayoutAlign="start" [formGroup]="contactContactDetailForm">
            <h2 class="step-heading">How to reach your contact?</h2>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput [formControl]="contactContactDetailForm.controls['email']" type='email'
                        (blur)="checkEmail(contactContactDetailForm.controls['email'])" [required]="true">
                    <mat-error *ngIf="contactContactDetailForm.controls['email'].hasError('required')">
                        This input field cannot be empty
                    </mat-error>
                    <mat-error *ngIf="contactContactDetailForm.controls['email'].hasError('pattern')">
                        Please enter a valid email address.
                    </mat-error>
                    <mat-error *ngIf="contactContactDetailForm.controls['email'].hasError('notUnique')">
                        A contact already exists with that email address.
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Alternative Email Address</mat-label>
                    <input matInput [formControl]="contactContactDetailForm.controls['alternativeEmail']" type='email'
                        (blur)="checkEmail(contactContactDetailForm.controls['alternativeEmail'])">
                    <mat-error *ngIf="contactContactDetailForm.controls['alternativeEmail'].hasError('pattern')">
                        Please enter a valid email address.
                    </mat-error>
                    <mat-error *ngIf="contactContactDetailForm.controls['alternativeEmail'].hasError('notUnique')">
                        A contact already exists with that email address.
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-phone-input [fieldLabel]="'Mobile Number'"
                    [inputControl]="contactContactDetailForm.controls['mobileNumber']"
                    (onBlur)="checkPhone(contactContactDetailForm.controls['mobileNumber'])" [required]="true"
                    fxFlex="100"></irms-phone-input>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-phone-input [fieldLabel]="'Secondary Mobile Number'"
                    [inputControl]="contactContactDetailForm.controls['secondaryMobileNumber']"
                    (onBlur)="checkPhone(contactContactDetailForm.controls['secondaryMobileNumber'])" fxFlex="100">
                </irms-phone-input>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-phone-input [fieldLabel]="'Work Number'"
                    [inputControl]="contactContactDetailForm.controls['workNumber']"
                    (onBlur)="checkPhone(contactContactDetailForm.controls['workNumber'])" fxFlex="100">
                </irms-phone-input>
            </div>
        </form>
        <form fxLayout="column" fxLayoutAlign="start" [formGroup]="selectListForm">
            <h2 class="step-heading">Do you wish to add this new contact to a list?</h2>
            <mat-hint class="hint">Your new contact will also be added to the default contact list.</mat-hint>
            <mat-radio-group aria-label="attendees" [formControl]="selectListForm.controls['list']" required
                fxLayout="column" fxLayoutAlign="start" [disabled]="isListPreset">
                <mat-radio-button value="global">No, don't add this contact to a list</mat-radio-button>
                <mat-radio-button value="existing">Add to an existing contacts list</mat-radio-button>
                <mat-radio-button value="new">Add to a new contacts list</mat-radio-button>
                <mat-radio-button value="eventGuest">Add contact and include in existing guest list</mat-radio-button>
            </mat-radio-group>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <irms-input-error *ngIf="selectListForm.controls['list'].value === 'new'" [fieldLabel]="'New list name'"
                    [inputControl]="selectListForm.controls['listName']"
                    [errorRangeText]="'List Name must be between 2 and 100 characters.'" [charactersCount]="100"
                    fxFlex="100">
                </irms-input-error>
                <irms-autocomplete *ngIf="selectListForm.controls['list'].value === 'existing'"
                    [inputControl]="selectListForm.controls['listId']" [label]="'Select List'" [data]="contactLists"
                    [disabled]="isListPreset"></irms-autocomplete>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
                *ngIf="selectListForm.controls['list'].value === 'eventGuest'">
                <irms-autocomplete [inputControl]="selectListForm.controls['eventId']" [label]="'Select event'"
                    [data]="eventList" [disabled]="state === 3 || state == 2" [ngClass]="{'disabled': state == 3 || state == 2}"></irms-autocomplete>
                <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>
                        Select event guest list
                    </mat-label>
                    <mat-select [id]="'eventGuestListSelect'"
                        [formControl]="selectListForm.controls['eventGuestId']" [disabled]="state === 3">
                        <mat-option *ngFor="let list of eventGuestLists" [value]="list"
                            [disabled]="list.isReadonly">
                            <mat-icon *ngIf="list.isReadonly">lock_filled</mat-icon><span irmsTextOverflow>{{list.name}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
                fxFlex="100">
                <div class="btn">
                    <button mat-button [routerLink]="['../']" class="secondary2-button">Cancel</button>
                </div>
                <div class="btn">
                    <button mat-flat-button matStepperPrevious class="secondary-button">Back</button>
                    <button mat-flat-button [disabled]=" selectListForm.invalid || 
                    contactPersonalForm.invalid || contactContactDetailForm.invalid" class="primary-button"
                        (click)="createContact()" [irmsButtonLoader]="loading"><span>Create Contact</span></button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div fxLayout="column" fxLayoutAlign="start center">
            <h2 class="step-heading">Congratulations</h2>
            You have successfully added a new contact
            <div class="row btn-group">
                <button mat-flat-button class="secondary-button" (click)="resetSaved()">Add
                    Another Contact</button>
                <button mat-flat-button class="primary-button" [routerLink]="['../']">Global Contacts</button>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>