<h2 mat-dialog-title>SMS Message Preview</h2>

<mat-dialog-content class="content" fxLayout="column" [ngClass]="{'extraContent':sendTest}">
  <div fxLayout="row" fxLayoutAlign="center center" class="mobile-preview">
    <irms-whatsapp-preview [messages]="[data.messages]" [sender]="data.senderName"></irms-whatsapp-preview>
   </div>
  <irms-whatsapp-designer-send-test-message *ngIf="sendTest" [id]="data.id"></irms-whatsapp-designer-send-test-message>
</mat-dialog-content>


<mat-dialog-actions *ngIf="!sendTest">
  <button class="mat-flat-button secondary-button" (click)="close()">Close</button>
  <button mat-flat-button class="primary-button" (click)="sendTest=!sendTest" >Send Test</button>
</mat-dialog-actions>