:host {
    width: 100%;
}
::ng-deep mat-horizontal-stepper {
    height: 100%;
    .mat-horizontal-content-container, .mat-horizontal-stepper-content {
        height: 100%;
        width: 75vw;
    }
    .mat-horizontal-stepper-header{
        pointer-events: none !important;
      }
}
img {
    width: 37%;
}