<mat-horizontal-stepper #stepper [selectedIndex]="formService.currentStepIndex" linear class="disableStepperHead">
  <!-- <mat-step>
    <ng-template matStepLabel>Select Guest List</ng-template>
    <irms-select-list></irms-select-list>
  </mat-step> -->
  <mat-step>
    <ng-template matStepLabel>Import Guests</ng-template>
    <irms-select-guest></irms-select-guest>
    <irms-select-list></irms-select-list>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Important Fields</ng-template>
    <irms-important-fields></irms-important-fields>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Import Analysis</ng-template>
    <irms-import-analysis *ngIf="formService.finalStep"></irms-import-analysis>
  </mat-step> -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div fxLayout="column" fxLayoutAlign="start center">
      <h2 class="step-heading">Your guests are added successfully!</h2>
      <img src="../../../../../../../assets/images/illustration_done.svg" alt="No content" />
      <div fxLayout="column" class="row btn-group" fxLayoutAlign="space-around center">
        <div class="container" fxLayout="column">
          <div><span>You can procceed with analysing your list and checking if the any guest member is missing important fields that could be important for your event.</span>
          </div>
          <div><span>Or you can simply procced back to event guests.</span></div>
        </div>
        <button mat-flat-button class="primary-button action-btn"
          [routerLink]="'../'+ formService.selectedGuestList +'/import-analysis'" (click)="resetIndex()">Import
          Analysis</button>
        <button mat-flat-button class="secondary-button action-btn" [routerLink]="['../']" (click)="resetIndex()">Back to Event
          Guests</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>