<mat-horizontal-stepper #stepper linear [selectedIndex]="selectedTabIndex"
  [ngClass]="{'disableStepperHead': createSuccess}">
  <mat-step [stepControl]="createForm">
    <form fxLayout="column" fxLayoutAlign="start" [formGroup]="createForm">
      <ng-template matStepLabel>Create</ng-template>
      <h2 class="step-heading">Create Your Event</h2>
      <div class="row row_uploader form-field-wrapper" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <div class="upload-btn" *ngIf="!createForm.controls['image'].value">
          <irms-croppie-btn [title]="'Upload image'" [inputControl]="createForm.controls['image']" [outputSize]="{width: '400', height: '400'}">
          </irms-croppie-btn>
        </div>
        <div *ngIf="createForm.controls['image'].value" class="imageThumbnail"
        [style.background]="'url('+createForm.controls['image'].value+')'">
        <button *ngIf="createForm.controls['image'].value" mat-icon-button #deleteImage (click)="deleteEventImage()"
            class="secondary2-button negative">
            <mat-icon>cancel</mat-icon>
        </button>
      </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <irms-input-error [fieldLabel]="'Event name'" [inputControl]="createForm.controls['name']"
          [errorRangeText]="'Event Name must be between 2 and 200 characters.'" [charactersCount]="200"
          [required]="true" fxFlex="100">
        </irms-input-error>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>
            Event Type
          </mat-label>
          <mat-select [formControl]="createForm.controls['eventTypeId']">
            <mat-option *ngFor="let type of eventTypes" [value]="type">
              {{type.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"  >
        <div fxLayout="column" class="form-field-wrapper">
          <h3>Attendees</h3>
          <mat-radio-group aria-label="attendees" [formControl]="createForm.controls['isLimitedAttendees']" required>
            <mat-radio-button [value]="true">Limited</mat-radio-button>
            <mat-radio-button [value]="false">Unlimited</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
        *ngIf="createForm.controls['isLimitedAttendees'].value">
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>Max Attendees</mat-label>
          <input matInput [formControl]="createForm.controls['maximumAttendees']" type="text">
          <mat-error *ngIf="createForm.controls['maximumAttendees'].hasError('required')">
            Please enter max attendees
          </mat-error>
          <mat-error *ngIf="createForm.controls['maximumAttendees'].hasError('pattern')">
            Please enter a valid number.
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>Overflow Attendees</mat-label>
          <input matInput [formControl]="createForm.controls['overflowAttendees']" type="text">
          <mat-error *ngIf="createForm.controls['overflowAttendees'].hasError('pattern')">
            Please enter a valid number.
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>
            Duration
          </mat-label>
          <input matInput [owlDateTimeTrigger]="dt12" [formControl]="createForm.controls['duration']"
            [owlDateTime]="dt12" [min]="now" (dateTimeChange)="durationChanged($event)" [selectMode]="'range'" required
            autocomplete="off">
          <owl-date-time #dt12></owl-date-time>
          <mat-error *ngIf="createForm.controls['duration'].hasError('required')">
            Please enter a duration.
          </mat-error>
        </mat-form-field>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>
            Time Zone
          </mat-label>
          <mat-select [formControl]="createForm.controls['timeZoneName']" required>
            <mat-option *ngFor="let zone of timeZones" [value]="zone">
              {{zone.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex="100" appearance="outline" fxFlex="1 0 auto">
          <mat-label>Event Location</mat-label>
          <mat-icon matPrefix svgIcon="search_location"></mat-icon>
          <input #locationSearch [formControl]="createForm.controls['location']" matInput type="text" autocorrect="off"
            autocapitalize="off" spellcheck="off" required>
          <mat-error *ngIf="createForm.controls['location'].hasError('required')">
            Please enter a location.
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto" class="address-view" fxLayoutGap="10px grid">
        <div #mapContainer class="map" fxFlex="50" fxLayout="column">
          <agm-map fxFlex="100" [latitude]='lat' [longitude]='lng' [zoom]='18' [styles]="mapStyle"
            (mapClick)="getLocation($event)">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <div class="address info-tip card-padding" fxFlex="50" fxLayout="column" >
          <mat-form-field fxFlex="100">
            <mat-label>Location</mat-label>
             <input matInput [formControl]="createForm.controls['location']" type="text" [readonly]="true">
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>City</mat-label>
            <input matInput [formControl]="createForm.controls['city']" type="text" [readonly]="true">
          </mat-form-field>
          <div fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex="60">
              <mat-label>Region</mat-label>
              <input matInput [formControl]="createForm.controls['region']" type="text" [readonly]="true">
            </mat-form-field>
            <mat-form-field fxFlex="40">
              <mat-label>Zip/Postal code</mat-label>
              <input matInput [formControl]="createForm.controls['zipCode']" type="text" [readonly]="true">
            </mat-form-field>
          </div>
          <mat-form-field fxFlex="100">
            <mat-label>Country</mat-label>
            <input matInput [formControl]="createForm.controls['country']" type="text" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
          <button mat-button matStepperNext [disabled]="createForm.invalid" class="primary-button">Next</button>
        </div>
        <div class="btn">
          <button mat-button [routerLink]="['../']" class="secondary2-button">Cancel</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="setupForm">
    <ng-template matStepLabel>Setup</ng-template>
    <form [formGroup]="setupForm" fxLayout="column">

      <h2 class="step-heading">Select your features</h2>
      <irms-feature-list [dataList]="featuresList" [selectable]="true"
      [selectedIds]='sectionService.selectedIds' (onCheckChange)="featuresChange($event)">
      </irms-feature-list>

      <mat-error *ngIf="setupForm.controls['features'].hasError('required') &&
      setupForm.controls['features'].touched">
        Please select event features.
      </mat-error>
      <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
          <button mat-button matStepperPrevious class="secondary-button">Back</button>
          <button mat-button [disabled]="setupForm.invalid" class="primary-button" (click)="create()"
          [irmsButtonLoader]="createLoading"><span>Create Event</span></button>
        </div>
        <div class="btn">
          <button mat-button [routerLink]="['../']" class="secondary2-button">Cancel</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div fxLayout="column" fxLayoutAlign="start center">
      <h2 class="step-heading">Congratulations</h2>
      You have successfully setup your event continue to event dashboard to manage your event
      <div class="row btn-group">
        <button mat-flat-button class="primary-button" (click)="goToEvents()">Event Dashboard</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>