<div fxLayout="row" class="tab-content">
    <div fxFlex="20">
        <h1 class="section-heading">Organization Info</h1>
    </div>
    <div fxFlex="80">
        <div *ngIf="!editInfoMode && model" [@animate]="{value:'*',params:{y:'100%'}}">
            <div fxLayout="column" fxLayoutAlign="start" class="view-only" fxFlex="70">
                <span fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto">
                    <button mat-icon-button class="edit-button" (click)="editInfo()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </span>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Organization</mat-label>
                    <div fxFlex="75" class="value">{{model.organization}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Position</mat-label>
                    <div fxFlex="75" class="value">{{model.position}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="editInfoMode" [@animate]="{value:'*',params:{y:'100%'}}">
            <form fxLayout="column" fxLayoutAlign="start" [formGroup]="organizationForm">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-input-error [fieldLabel]="'Organization'" [inputControl]="organizationForm.controls['organization']"
                        [errorRangeText]="'Organization must be between 2 and 50 characters.'" [charactersCount]="50"
                        fxFlex="100">
                    </irms-input-error>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-input-error [fieldLabel]="'Position'" [inputControl]="organizationForm.controls['position']"
                    [errorRangeText]="'Position must be between 2 and 50 characters.'" [charactersCount]="50"
                    fxFlex="100">
                    </irms-input-error>
                </div>
                <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
                    fxFlex="100">
                    <div class="btn">
                        <button mat-button (click)="viewGuestInfo()" class="secondary2-button">Cancel</button>
                    </div>
                    <div class="btn">
                        <button mat-button [disabled]="organizationForm.invalid" class="primary-button" (click)="updateGuest()">Update
                            Guest</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #noValue>
    <div fxFlex="75" class="noValue value">-</div>
</ng-template>