<!-- CONTENT CARD -->
<div class="content-card mat-white-bg generic-content-card">
  <!--CONTENT TOOLBAR-->
  <div class="toolbar px-24 py-8">
    <div class="toolbar-actions" fxFlex="row" fxLayoutAlign="start center">
      <mat-checkbox (click)="toggleSelectAll()" [checked]="sectionService.hasAllSelected"
                    [indeterminate]="sectionService.isIndeterminate"></mat-checkbox>
      <div class="toolbar-separator" *ngIf="!hideCreateButton"></div>

      <button type="button" mat-raised-button class='capitalize ' color='primary' (click)="create()" *ngIf="!hideCreateButton">
        Create new
      </button>
      <div class="toolbar-separator" *ngIf="sectionService.selectedItems.length > 0"></div>
      <div class="action-btn-group" *ngIf="sectionService.selectedItems.length > 0">
        <irms-actions-button-group [actionButtons]="actionButtons"
                                  [selectedItems]="sectionService.selectedItems"></irms-actions-button-group>
      </div>
    </div>
  </div>
  <!--/ CONTENT TOOLBAR-->

  <!-- CONTENT -->
  <router-outlet></router-outlet>
  <!-- / CONTENT -->
</div>
