<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex [routerLink]="['contact/'+data.id+'/personal-info']">
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <p class="list-detail-item" fxFlex><span class="name-link">{{data.fullName}}</span></p>
      <p class="list-detail-item" fxFlex>{{data.createdOn | date}}</p>
      <p class="list-detail-item" fxFlex>{{data.modifiedOn | date}}</p>
    </div>
    
  </div>