<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center" [routerLink]="[data.id]">
      <p class="list-detail-item" fxFlex>{{data.guestName}}</p>
      <p class="list-detail-item" fxFlex>{{data.submissionDate | date}}</p>
    </div>
  </div>