.menu {
    h3 {
        font-weight: 600;
    }
    .form {
        // height: 32vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .block {
            display: flex;
            flex-direction: column;
        }
    }
}