@import "src/@fuse/scss/fuse";
@import "../../../../../constants/variables.scss";
:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .navbar-scroll-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        background: $theme-white;
        border-right: $theme-border;
        .navbar-content {
            flex: 1 1 auto;
            // padding-top: 32px;
        }
    }
}