 <mat-card *ngIf="showWhatsApp" class="media-card" [ngClass]="{'disabled': disabled, 'expanded': !disabled && editWhatsApp}">
    <mat-card-header>
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                <div fxFlex fxLayoutAlign="center center">
                    <mat-icon svgIcon="whatsapp"></mat-icon><span>WhatsApp</span>
                </div>
                <div fxFlex="70" *ngIf="!disabled && editWhatsApp"  fxLayoutAlign="end center" [@animate]="{value:'*',params:{duration:'300ms',x:'200px'}}" >
                    <button mat-icon-button [title]="'Save Email Template'" (click)="whatsAppSave()"><mat-icon>save</mat-icon></button>
                    <button mat-icon-button [title]="'Preview Email Template'" (click)="whatsAppPreviewMethod()"><mat-icon>remove_red_eye</mat-icon></button>
                    <button *ngIf="!isDialog" mat-icon-button [title]="'Expand view'" (click)="openDialogView(true)"><mat-icon>fullscreen</mat-icon></button>
                    <button *ngIf="isDialog" mat-icon-button [title]="'Minimize view'" (click)="closeDialogView(false)"><mat-icon>fullscreen_exit</mat-icon></button>
                </div>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <irms-template-thumbnail *ngIf="disabled || !editWhatsApp" [isReview]="isReview" [hasTemplate]="whatsAppTemplate?.sender" [toRsvp]="showRsvp"
        [thumbnail]="whatsAppTemplate?.image" [addContentText]="'Add WhatsApp\nContent'"
        [templateType]="mediaType.whatsapp" [templateId]="whatsAppTemplate?.id" [disabled]="disabled"
        [onlyEmitOnCreate]="onlyEmitOnCreate" (create)="expandForEdit()" (edit)="expandForEdit()" [@expandCollapseHorizontal]="disabled || !editWhatsApp">
        </irms-template-thumbnail>
        <irms-whatsapp-template-expanded-view *ngIf="!disabled && editWhatsApp"
        [invitationId]="whatsAppTemplate?.id"
        [@expandCollapseHorizontal]="!disabled && editWhatsApp" [isDialog]="isDialog" [isLanding]="isLanding"></irms-whatsapp-template-expanded-view>
    </mat-card-content>
</mat-card>
