$break-small : 640px;
:host {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background-position: center top;
    //border: red 2px solid;
}

.tg-container-item {
    margin: 0 10px;
}
.tgl {
    display: none;
    &+.tgl-btn {
        box-sizing: border-box;
        border: solid 2px;
        background: rgba(255, 255, 255, 0.239);
    }
    +.tgl-btn {
        outline: 0;
        display: block;
        width: 5em;
        height: 2em;
        position: relative;
        cursor: pointer;
        user-select: none;
        &:after,
        &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }
        &:after {
            left: 0;
        }
        &:before {
            display: none;
        }
    }
    &:checked+.tgl-btn:after {
        left: 50%;
    }
}
.tgl-item {
    +.tgl-btn {
        overflow: hidden;
        backface-visibility: hidden;
        transition: all .2s ease;
        margin-left: auto;
        margin-right: auto;
        &:after,
        &:before {
            display: inline-block;
            transition: all .2s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 1em;
            font-weight: bold;
        }
        &:after {
            left: 100%;
            content: attr(data-tg-on);
        }
        &:before {
            left: 0;
            content: attr(data-tg-off);
        }
        &:active {
            &:before {
                left: -10%;
            }
        }
    }

    &:checked+.tgl-btn {
        // background: #86d993;
        &:before {
            left: -100%;
        }
        &:after {
            left: 0;
        }
        &:active:after {
            left: 10%;
        }
    }
}

.rtl {
    * {
        direction: rtl;
    }
}

.form-section {
    -webkit-animation: fadein 0.6s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.6s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.6s;
    /* Internet Explorer */
    -o-animation: fadein 0.6s;
    /* Opera < 12.1 */
    animation: fadein 0.6s;
    position: relative;
    width: 100%;
    height: 100%;
}


.content_wrapper {
    padding: 4%;

    .content {
        margin-top: 0%;
    }

    // @media screen and (min-width: $break-large) {
    //   // min-height: 90vh;
    //   min-height: 100%;
    // }
}

.swipper_input {
    font-family: 'Tajawal', sans-serif !important;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid rgba(145, 145, 145, 0.25);
    outline: none;
    width: 100%;
    font-size: 31px;
    padding: 10px 0px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 1s;
    color: #2f2f2f;

    &:focus {
        border-bottom-color: rgba(54, 54, 54, 0.25);
    }
}
.message {
    text-align: center;
}

:host ::ng-deep .error-message {
    pointer-events: none;
    position: initial;
    background-color: rgba(255, 5, 5, 0.59);
    color: white;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 10px 0px;
    width: fit-content;

    &.submit-error {
        padding: 12px 0;
        // position: absolute;
        z-index: 10;
        width: 100%;
        text-align: center;
        font-size: 24px;
    }
}

.inner_wrapper {
    // width: 80%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // @media screen and (min-width: $break-large) {
    //   // width: 35%;
    //   height: unset;

    // }
    &.review {
        width: 100%;

        .review-button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .submit-button {
                margin-top: 15px;
                width: 20%;
            }
        }
    }

    h3 {
        font-weight: 400;
        font-size: 26px;
        word-break: break-word;
        width: 100%;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    .question-number {
        font-size: 20px;
        mat-icon{
            font-size: 16px;
        }
    }
}

.hide {
    opacity: 0%;
    pointer-events: none;
    display: none;
}

.optionalIndicator {
    color: rgba(0, 0, 0, 0.569);
    font-size: 17px;
}

.description {
    color: rgba(0, 0, 0, 0.569);
    font-size: 17px;
    width: 100%;
}

.submit-button {
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    margin-top: 2vh;
    padding: 7px;
    font-family: inherit;
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    background: none;
    box-shadow: none;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;

    &.disabled {
        width: unset;
        margin-top: 22vh;
        background-color: rgba(207, 207, 207, 0.835);
        color: rgb(223, 222, 222);

        &:hover {
            background-color: rgba(6, 79, 102, 0.835);
        }
    }
}
irms-form-navigator {
    position: absolute;
    bottom: 0;
    width: 100%;
}
//swipper 
.swiper-container {
    // position: absolute;
    height: 100%;
    width: 100%;
    opacity: 100%;
    //border: rgb(140, 0, 255) 2px solid;
  }
  .swiper-slide{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5%;
    .inner_wrapper {
        width: 100%;
        @media screen and (min-width: $break-small) {
            width: unset;
        }
    }
  }