<!-- <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <button mat-icon-button (click)="back()" class="back-arrow-offset">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="nav-buttons" fxFlex="70" fxLayout="row" fxLayoutAlign="start stretch">
            <a class="nav-link" mat-button *ngFor="let nav of navigation" [routerLink]="[nav.url]" skipLocationChange
                [routerLinkActive]="['active']" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>{{nav.icon}}</mat-icon>
                <span>{{nav.title}}</span>
            </a>
        </div>
        <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button class="secondary-button nav-link dark-bg save" (click)="onClickSave()"> 
                <mat-icon>save</mat-icon>
                <span>Save</span>
            </button>
            <button mat-flat-button class="secondary2-button" (click)="onClickSend()">
                <mat-icon>send</mat-icon>
                <span>Send Test Email</span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar> -->