<div *ngIf="!isLive" fxLayout="column" class="confirmation">
    <div fxFlex="20">
        <h1 class="title">Ready To Go Live!</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="70">
        <span>Are you sure you are ready to launch this campaign?</span>
        <span>You cannot change the campaign's settings after you launch.</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="buttons">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
            <button mat-button class="secondary-button" (click)="cancel()" [disabled]="isGoingLive">Cancel</button>
            <!--  -->
            <button mat-button class="primary-button" (click)="showConfirmation()"
                [irmsButtonLoader]="isGoingLive">Confirm</button>
        </div>
    </div>
</div>
<div class="confirmation" *ngIf="isLive" fxLayout="column" fxFlex="100" fxLayoutAlign="center center"
    [@animate]="{value:'*',params:{duration:'300ms',x:'100px'}}">
    <mat-icon class="done">done_all</mat-icon>
    <h1>Congratulations</h1>
    <span>
        Your Campaign is on its way...
    </span>
    <div class="buttons" fxLayout="row" fxLayoutAlign="center center">
        <button mat-button class="primary-button" (click)="confirm()">Go to Campaigns List</button>
    </div>
</div>