.done {
    font-size: 100px;
    margin-right: 65px;
    margin-bottom: 100px;
    margin-top: 20px;
}
.buttons{
    min-width: 100%;
    margin-top: 10px;
}
.primary-button {
    margin-inline-end: 0px !important;
}
// ::ng-deep .confirmation{
//     overflow-x: hidden !important;
//     min-height: 100%;
//     max-height: 100%;
// }
// .title{
//     margin-bottom: 1vh;
// }
// .message{
//     margin-bottom: 5vh;
// }