<div id="login" fxLayout="column" fusePerfectScrollbar>
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="start center">
      <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
  
        <div class="logo">
          <img *ngIf="!logoLink && !logoLoad" src="assets/images/logos/fuse.svg">
          <img *ngIf="logoLink && !logoLoad" [src]="logoLink">
        </div>
  
        <div class="title">Mobile Number Verification</div>
        <p>You will recieve your OTP on mobile with phone number: <span class="phone">{{phoneNum}}</span>.</p>
        <div class="notForm">
            <button mat-raised-button type="submit" class="submit-button primary-button" aria-label="VERIFY">
            Verify
          </button>
          <div fxLayout="row">
              <div fxLayoutAlign="center center" fxFlex="20">
                  <mat-icon>info</mat-icon>
              </div>
              <div fxFlex="80">
                  If you cannot recieve the verification message on the registered mobile number, please contact support for assistance.
              </div>
          </div>
          <button mat-raised-button type="submit" class="submit-button secondary-button" aria-label="CONTACT SUPPORT">
            CONTACT SUPPORT
          </button>
        </div>
      </div>
  
    </div>
  
  </div>