<mat-form-field fxFlex="100" appearance="outline">
  <mat-label>{{fieldLabel}}</mat-label>
    <textarea matInput
              [formControl]="inputControl"
              matTextareaAutosize
              matAutosizeMinRows="minRows"
              matAutosizeMaxRows="maxRows"
              type='text'
              [required]="required"
              [placeholder]="placeholder"              
              (blur)="handleBlur()"
              (click)="handleCursor($event)"
              (keyup)="handleCursor($event)"></textarea>
  <mat-hint align="end" *ngIf='charactersCount > 0 && inputControl.value'>{{inputControl.value.length}} / {{charactersCount}}</mat-hint>
  <mat-error *ngIf="inputControl.hasError('required')">
    This input field cannot be empty
  </mat-error>
  <mat-error *ngIf="errorRangeText && inputControl.hasError('minlength') || inputControl.hasError('maxlength')">
    {{errorRangeText}}
  </mat-error>
  <mat-error *ngIf="!errorRangeText && inputControl.hasError('minlength')">
    Too short
  </mat-error>
  <mat-error *ngIf="!errorRangeText && inputControl.hasError('maxlength')">
    You have reached the maximum numbers of allowed characters
  </mat-error>
  <mat-error *ngIf="inputControl.hasError('pattern')">
    {{errorPatternText}}
  </mat-error>
  <ng-content></ng-content>
</mat-form-field>
