<div fxLayout="row" fxLayoutAlign="start center" [fxFlex]="flexWidth">
    <mat-label>
        {{fieldLabel}}
    </mat-label>
    <mat-form-field appearance="outline" fxFlex ="20">
        <input matInput type='number' [required]="required" [formControl]="inputControl.controls['interval']"
            [placeholder]="placeholder" (blur)="handleBlur()" min="1" 
            [disabled]="disabled"
            [readonly]="disabled"
            [ngClass]="{'pointer-none': disabled}"
            (keydown)="keydown($event)" />
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
        <mat-select [formControl]="inputControl.controls['intervalType']" [required]="required" 
        [disabled]="disabled"
        [ngClass]="{'pointer-none': disabled}">
            <mat-option [value]="timePeriodUnits.Days">Days</mat-option>
            <mat-option [value]="timePeriodUnits.Hours">Hours</mat-option>
            <mat-option [value]="timePeriodUnits.Minutes">Minutes</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-label >
        after the {{afterText}}
    </mat-label>
</div>
<mat-error *ngIf="inputControl.controls['intervalType'].hasError('required')">
    This input field cannot be empty
</mat-error>
<mat-error *ngIf="inputControl.controls['interval'].hasError('min')">
    Enter a duration more than 0
</mat-error>
<mat-error *ngIf="inputControl.controls['interval'].hasError('pattern')">
    Enter a valid duration
</mat-error>
<mat-error *ngIf="inputControl.controls['interval'].hasError('required') && inputControl.controls['interval'].touched">
    Please Enter a duration
</mat-error>