<div class="color-picker-elem">
    <button class="color-picker-trig" mat-mini-fab
        [style.background]="color.value" 
        [cpPosition]="'bottom-left'"
        [cpPositionRelativeToArrow]="false"
        [cpOutputFormat]="'rgba'"
        (colorPickerChange) = "updateColor($event)"
        [value]="color.value"
        [colorPicker]="color.value"></button>
</div>