@import "../../../../../app/constants/variables.scss";
:host {
    .nav-link {
        &.active {
            background-color: $accent-color !important;
            color: $theme-white;
        }
    }
    .folded:not(.unfolded) & {

        .nav-link {
            color: $theme-white;
            > .nav-link-title,
            > .nav-link-badge {
                opacity: 0;
                transition: opacity 200ms ease;
            }
        }
    }
}
