:host{
  height: 100%;
  width: 100%;
}
.generic-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.notify-checkbox{
  flex-grow: 1;
}

.selection-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  &:focus {
    outline: none;
  }
  .checkbox{
    margin: 0px 16px 0 8px;
  }
  .list-wrap{
    .mat-list-item-content{
      width: 100%;
    }
  }
  .item {
    .checkbox {
      margin-right: 20px;
    }
  }
}
.disabled-header {
  pointer-events: none;
  ::ng-deep * {
  color: rgb(182, 182, 182) !important;
  }
}

.empty-list
{
  margin: 20px auto;
  text-align: center;
}
