<div class="generic-list">
  <div class="selection-list" *fuseIfOnDom [@animateStagger]="{value:'50'}" fxLayout="column" fxLayoutAlign="start stretch">
    <irms-generic-list-header [selectable]="selectable" [NumOfMaxSelectables]="NumOfMaxSelectables" *ngIf="listHeaders" [listHeaders]="listHeaders"
      [ngClass]="{'disabled-header': (dataListObservable | async)?.length == 0}" [actionMenu]="actionMenu"
      (selectAll)="toggleSelectAll($event)" [checked]="checked" [indeterminate]="indeterminate" >
    </irms-generic-list-header>
    <div *ngIf="!static" fxFlex="87">
      <div *ngIf="dataListObservable | async as dataList; else loading" fusePerfectScrollbar>
        <irms-generic-list-item class="item py-8" *ngFor="let item of dataList.items" fxLayout="row" matRipple
          fxLayoutAlign="start center" [selectable]="selectable"  [data]="item" (click)="readItem(item)"
          [dataListItemBody]="dataListItemBody" [ngClass]="{'current-mail':item?.id == currentItem}"
          (onSelectItem)="toggleSelectedId($event)" [@animate]="{value:'*',params:{y:'100%'}}">
        </irms-generic-list-item>
        <div *ngIf="dataList.items.length == 0" class="empty-list">
          <irms-empty-list-message [heading]="emptyHeading" [secondaryText]="emptyMessage" [type]="'listEmpty'">
          </irms-empty-list-message>
        </div>
      </div>
    </div>
    <div *ngIf="static" fxFlex="90">
      <div *ngIf="staticList ; else loading" fxFlex="90" fusePerfectScrollbar>
        <irms-generic-list-item class="item py-8" *ngFor="let item of staticList" fxLayout="row" matRipple
        fxLayoutAlign="start center" [selectable]="selectable" [data]="item" (click)="readItem(item)"
        [dataListItemBody]="dataListItemBody" [ngClass]="{'current-mail':item?.id == currentItem}"
        (onSelectItem)="toggleSelectedId($event)" [@animate]="{value:'*',params:{y:'100%'}}">
      </irms-generic-list-item>
      <div *ngIf="staticList.length == 0 && !hideEmptyIllustration" class="empty-list" [class.custom-empty-message-wrapper]="svgPositionRelative">
        <irms-empty-list-message [heading]="emptyHeading" [secondaryText]="emptyMessage" [type]="'listEmpty'">
        </irms-empty-list-message>
      </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <irms-generic-content-loader [loaderType] = "loaderType"></irms-generic-content-loader>
</ng-template>
