<div *ngIf="sideLabel" fxFlex="20">{{fieldLabel}}</div>
<mat-form-field [fxFlex]="flexWidth" [appearance]="appearance">
  <mat-label *ngIf="!sideLabel">{{fieldLabel}}</mat-label>
  <input [id]="id" matInput type='text' [required]="required" [formControl]="inputControl" [placeholder]="placeholder" (blur)="handleBlur()" [disabled]="disabled" [readonly]="readonly"/>
  <mat-hint align="end" *ngIf='showCount && charactersCount > 0 && inputControl.value'>{{inputControl.value.length}} / {{charactersCount}}</mat-hint>
  <mat-error *ngIf="inputControl.hasError('required')">
    This input field cannot be empty
  </mat-error>
  <mat-error *ngIf="errorRangeText && inputControl.hasError('minlength') || inputControl.hasError('maxlength')">
    {{errorRangeText}}
  </mat-error>
  <mat-error *ngIf="!errorRangeText && inputControl.hasError('minlength')">
    Too short
  </mat-error>
  <mat-error *ngIf="!errorRangeText && inputControl.hasError('maxlength')">
    You have exceeded the maximum numbers of allowed characters
  </mat-error>
  <mat-error *ngIf="inputControl.hasError('pattern')">
    {{errorPatternText}}
  </mat-error>
</mat-form-field>
