<div class="campaign-flow" fxLayout="row" fxLayoutAlign="start stretch">
    <irms-campaign-flow-nodes class="nodes" [readonly]="true" [nodes]="nodes"></irms-campaign-flow-nodes>
    <div class="node-view" fxFlex>
        <router-outlet  #pendingOutlet="outlet"></router-outlet>
        <irms-empty-list-message class="not-selected" *ngIf="!pendingOutlet.isActivated" 
        [heading]="'Select Reminders to work on'" [secondaryText]="" [type]="'selectSomething'">
        </irms-empty-list-message>
    </div>
</div>