<form [formGroup]="pendingForm" fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="save()" #formRef="ngForm">
    <irms-media-template-group [activeMedia]="activeMedia" [smsTemplate]="smsTemplate" [showRsvp]="true"
    [emailTemplate]="emailTemplate" [whatsappTemplate]="whatsappTemplate"[disabled]="!isLoaded" [isLanding]="true" [step]="step"></irms-media-template-group>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="form-field-group">
            <div fxLayout="row" fxLayoutAlign="start start">
                <irms-input-error [fieldLabel]="'Title'" class="mb-6" [inputControl]="pendingForm.controls['name']" [charactersCount]="200">
                </irms-input-error>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
            <irms-duration-input [fieldLabel]="'Send this reminder'" [afterText]="isFirstNode? 'Invitation' : 'preceeding reminder'"
                [inputControl]="pendingForm.controls['delay']" [required]="true" fxFlex="70"></irms-duration-input>
            </div>
        </div>
    </div>
</form>