<div fxLayout="column" fxLayoutAlign="start stretch" fusePerfectScrollbar
    [fusePerfectScrollbarOptions]="{suppressScrollX: true}" class="settings-section" [formGroup]="settings">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <irms-input-error [fieldLabel]="'Form title'" [inputControl]="settings.get('title')"
            [errorRangeText]="'Form title must be between 2 and 200 characters.'" [charactersCount]="200"
            [required]="true" fxFlex="100">
        </irms-input-error>
    </div>
    <div class="form-field" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="form-field-label">Default Language</span>
        <div class="">
            <mat-form-field>
                <mat-label></mat-label>
                <mat-select [formControl]="settings.get('defaultLanguage')">
                    <mat-option value="ar">Arabic</mat-option>
                    <mat-option value="en">English</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="form-field" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="form-field-label" *ngIf="settings.get('defaultLanguage').value == 'ar'">English Option</span>
        <span class="form-field-label" *ngIf="settings.get('defaultLanguage').value == 'en'">Arabic Option</span>
        <div class="">
            <mat-slide-toggle [formControl]="settings.get('languageOption')">
            </mat-slide-toggle>
        </div>
    </div>
</div>