<div id="content-layout" class="page-layout carded fullwidth">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                            value: '*',
                            params: { delay: '50ms', scale: '0.2' }
                        }">
                    speaker_notes
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                    RSVP Campaigns
                </span>
            </div>
            <!-- / APP TITLE -->

            <button mat-flat-button class="primary-button" [routerLink]="['create']">
                <mat-icon>create</mat-icon><span>Create Campaign</span>
            </button>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">
            <!-- CONTENT -->
            <div class="content-area section-content">
                <div class="list-box" fusePerfectScrollbar>
                    <irms-generic-content-loader *ngIf="isLoading" [loaderType]="'section-list'" ></irms-generic-content-loader>
                    <!-- [listHeaders]="listHeaders" -->
                    <irms-generic-list *ngIf="!isLoading" [dataListObservable]="data" [dataListItemBody]="listItemComponent"
                         [selectable]="false" (onChangePagination)="changePagination($event)" 
                        [emptyHeading]="'No Campaigns Found'" [actionMenu]="true" [loaderType] = "'section-list'"
                        [style.display]="(data | async)?.items.length == 0 ? 'none': 'initial'">
                    </irms-generic-list>
                    
                    <div *ngIf="(data | async)?.items.length == 0 && !isLoading">
                        <div fxFlex="75" class="noValue value" fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="10">
                           <h1>There are currently no campaigns in here. </h1>
                           <h2>You can click on <a [routerLink]="['create']">Create Campaign</a> to create your first campaign.</h2>
                           <button mat-flat-button class="primary-button" [routerLink]="['create']">
                            <span>Create Campaign</span>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination" *ngIf="(data | async)?.items.length > 0 && !isLoading">
                <mat-paginator [length]="(data | async)?.totalCount" [pageSize]="sectionService.pageSize"
                    [pageSizeOptions]="pageSizeOptions" [pageIndex]="sectionService.pageIndex"
                    (page)="changePagination($event)">
                </mat-paginator>
            </div>
            <!-- / CONTENT -->
            
        </div>
        
        <!-- / CONTENT CARD -->
    </div>
</div>

