@import "../../../../../constants/variables.scss";
:host, .editor-pane {
    width: 100%;
    // height: 93vh;
}
.editor-pane {
    padding-top: 10px !important;
    height: calc(100vh - 165px);
}
.preview {
    background-color: $theme-white;
    height: 100%;
    width: 100%;
}
::ng-deep .editor-tabs {
    height: 100%;
    > .mat-tab-header {
      display: none;
    }
  }
#form-builder {
    display: grid ;
    grid-template-columns: 66px 8fr;
    grid-template-rows: auto;
    height: calc(100vh - 165px);
}
section{
    height: 100%;
  #sidebar{
    border-right: $theme-border;
  }
  #main-container{
    padding: 0px 15px 0px 0px;
  }
  mat-nav-list{
      a{
        &:hover {
            text-decoration: none !important;
        }
        color: $primary-color;
        &.active{
            mat-icon {color: $accent-color;}
            border-right: 2px solid $accent-color;
            font-weight: 400;
        }
      }
      //mat-icon{
        //   color:$primary-light;
      //}
  }
}
mat-tab-group {
    ::ng-deep .mat-tab-body-wrapper {
        flex-grow: 1;
    }
}