@import "../../../../../constants/variables.scss";

.table-container {
    overflow: auto;
    width: 75vw;
    // border: $theme-box-border;
}

.contacts-table {
    width: 100vw;

    th {
        background-color: $secondary-color !important;
        color: $primary-color !important;
        span {
            text-align: center;
            width: 100%;
            display: block;
        }
    }
    input {
        background-color: transparent !important;
        width: 100%;
        border-radius: 7px;
        border: $theme-box-border;
        border-color: transparent;
        padding: 5px;
        &:focus {
            border-color: $accent-color !important;
        }
        &:hover {
            border-color: $secondary-color;
        }
        &.invalid {
            border-color: $warn-color !important;
        }
    }

    
    ::ng-deep .mat-column-actions {
        flex: 0 0 91px !important;
        width: 91px !important;
        min-width: 91px !important;
        height: 51px;
    }

    .index {
        color: $primary-color;
    }

    td.mat-cell:first-of-type,
    th.mat-header-cell:first-of-type {
        border-right: $theme-border;
    }

    td.mat-cell:last-of-type {
        border-left: $theme-border;
    }
    .mat-cell {
        padding: 5px;
        text-align: center;
    }
    

    .duplicate {
        background: $warn-color !important;
        * {
            color: $theme-white !important;
        }
        input {
            color: $theme-white !important;
        }
    }
}

.input-wrapper {
    position: relative;
}
.error-dot {
    position: absolute;
    right: 0;
    bottom: 0;
    mat-icon {
        color: $warn-color;
        font-size: 18px;
    }
}

// ::ng-deep .tooltip-warn {
//     background: $warn-color !important;
//     color: $theme-white !important;
// }


