<div fxLayout="column" fxLayoutAlign="start">
    <h2 class="step-heading">Now Import your guests</h2>
    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100" class="import-container" fxLayoutGap="10px grid">
        <div fxFlex="45" fxLayout="row" fxLayoutAlign="space-between center" class="buttons-wrapper">
            <button mat-flat-button class="secondary-button select-list-trigger" [matMenuTriggerFor]="select"
                #trigger="matMenuTrigger" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-icon>playlist_add_check</mat-icon>
                    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="85"><span fxFlex="27vw" irmsTextOverflow
                            [ngClass]="{'noSelected': selectedListNames.length === 0}">{{selectedListNames.join(', ') ||
                            "Select lists to import from" }}</span></div>
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
            </button>
            <mat-menu #select="matMenu" xPosition="after" yPosition="below" class="select-list-dropdown">
                <irms-contact-guest-list-search [selectedIds]="selectedListsIds" (click)="$event.stopPropagation()"
                    (selectedListsEvent)="filterDropdown($event); trigger.closeMenu()"></irms-contact-guest-list-search>
            </mat-menu>
        </div>
        <div fxFlex="7.5" fxLayout="column" fxLayoutAlign="start stretch"></div>
        <div fxFlex="45" fxLayout="row" fxLayoutAlign="space-between center" class="buttons-wrapper">
            <p class="selected-list-title">List: {{listName}}</p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start" fxFlex="100" class="import-container" fxLayoutGap="10px grid">
        <div class="import-from" fxFlex="47" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="list-container" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-checkbox (change)="selectAllList($event.checked)" [(ngModel)]="allImportCheck"
                        [checked]="allImportCheck" fxFlex="5"></mat-checkbox>
                    <irms-generic-search-bar fxFlex="95" [searchPlaceholder]="'Search for ' + importFrom"
                        (searchText)="searchForContacts($event)" [emitQuery]="true">
                    </irms-generic-search-bar>
                </div>
                <div class="list-content custom-wrapper">
                    <irms-contacts-grouped-list [svgPositionRelative]="true"
                        (onCheckChange)="onImportCheckChange($event)" [selected]="selectedToImport"
                        [data]="isContactSearching ? contactsListFiltered : selectedToImportLists">
                    </irms-contacts-grouped-list>
                </div>
            </div>
        </div>
        <div class="import-controls" fxFlex="6" fxLayout="column" fxLayoutAlign="center stretch">
            <button mat-flat-button class="secondary-button round-button" (click)="import()"
                [disabled]="!selectedToImport || selectedToImport.length === 0" #tooltip="matTooltip"
                matTooltip="Add as guests" matTooltipPosition="after" aria-tooltip="Add as guests">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
            <button mat-flat-button class="secondary-button round-button" (click)="remove()"
                [disabled]="selectedGuests.length === 0" #tooltip2="matTooltip" matTooltip="Remove guests"
                matTooltipPosition="after" aria-tooltip="Remove guests">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
        </div>
        <div class="import-to" fxFlex="47" fxLayout="column" fxLayoutAlign="start">
            <div class="list-container" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-checkbox [(ngModel)]="allGuestCheck" [indeterminate]="sectionService.isIndeterminate"
                        (change)="selectAllGuests($event.checked)"></mat-checkbox>
                    <irms-generic-search-bar fxFlex="69" [searchPlaceholder]="'Search for ' + importFrom"
                        (searchText)="searchForGuests($event)" [emitQuery]="true">
                    </irms-generic-search-bar>
                    <span class="chip1"><span class="count">{{formService.guestList.length}}</span>&nbsp;Guests</span>
                </div>
                <div class="contacts-list list-content" fusePerfectScrollbar fxLayout="column"
                    fxLayoutAlign="start center">
                    <mat-progress-spinner *ngIf="isImporting" [color]="'#2ac8b8'" [mode]="'indeterminate'" [value]="50">
                    </mat-progress-spinner>
                    <div *ngFor="let item of formService.guestList" class="contact">
                        <mat-checkbox (change)="selectGuest($event.checked, item)">
                        </mat-checkbox>
                        <div fxFlex="90" fxLayout="row" fxFlex>
                            <div fxFlex="90">{{item.fullName}}</div>
                            <div fxFlex="10" fxLayoutAlign="center end">
                                <span>
                                    <mat-icon *ngIf="item.email">email</mat-icon>
                                </span>
                                <span>
                                    <mat-icon *ngIf="item.phone">phone</mat-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <irms-generic-list [staticList]="isGuestsSearching?formService.guestListFiltered:formService.guestList" [static]="true" [dataListItemBody]="listItemComponent"
                        (onCheckChange)="onGuestCheckChange($event)" [selectedIds]="selectedGuests" [selectable]="true" [hideEmptyIllustration]="true">
                    </irms-generic-list> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
            <button mat-button [routerLink]="['../']" class="secondary2-button">Cancel</button>
        </div>
        <div class="btn">
            <button mat-button [disabled]="!guestList.length"
                class="primary-button" (click)="importGuestList()">Import</button>
        </div>
    </div> -->
</div>