<h1 mat-dialog-title>Selected Important Fields</h1>
<div mat-dialog-content fxLayout="column">
<div fxLayout="row" *ngFor="let field of data.fields" class="fields">
    <span fxFlex="40" fxLayoutAlign="start center" class="cell">{{field.question}}</span>
    <span fxFlex="20" fxLayoutAlign="center center" class="cell"><mat-icon>arrow_right_alt</mat-icon></span>
    <span fxFlex="40" fxLayoutAlign="start center" class="cell">{{field.field}}</span>
</div>
</div>
