@import "../../../../../constants/variables.scss";

.cdk-overlay-container {
    left: 200px;
    top: 200px;
}

.cdk-overlay-connected-position-bounding-box {
    top: 0 !important;

}

::ng-deep .contact-tip {
    background-color: $secondary-color !important;
    border: rgba(148, 148, 148, 0.82) 1px solid;
}