@import "../../../../../constants/variables.scss";

$misc : rgba(144, 144, 144, 0.644);

:host {
  height: 100%;
  width: 100%;
}

.sender-header {
  padding: 20px 15px;
  color: $misc;
  border-bottom: $theme-border;

  a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
    vertical-align: middle;
  }

  .name {
    color: $primary-color;
    font-weight: 400;
  }
}

.chatbox {
  background-color: #f5f8f9;
  padding: 0px 22px 10px 22px;
  width: 100%;
}

.time {
  text-align: center;
  font-size: .70em;
  color: #666;
}

#message {
  width: 100%;
}


.sms-message {
  max-width: 85%;
  min-width: 15%;
  display: inline-block;
  position: relative;
  margin-bottom: 6px;
  animation: scaler 150ms ease-out;

  &:first-child {
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      top: 0;
      width: 0;
      border-width: 10px 10px 0;
      border-style: solid;
      border-color: $secondary-color transparent;
    }
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: $secondary-color;
    color: $primary-color;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    font-weight: 500;

  }
}

#message {

  &:before,
  &:after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    background-color: #e5eaec;
    color: #222;
    font-size: .85em;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 1% 0;
    max-width: 70%;
    min-width: 10%;
    float: right;
    word-wrap: break-word;
    clear: both;
    animation: scaler 150ms ease-out;
    font-weight: 500;
  }

  .first:after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #e5eaec transparent;
  }
}

.reply {
  border-top: $theme-border;
  padding: 15px 10px;
  color: $misc;

  &:before,
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

/* Chat */

.chat {
  height: calc(100% - 69px);
}

.chat-container {
  height: 100%;
}

/* User Bar */

.user-bar {
  height: 55px;
  background: #005e54;
  color: #fff;
  padding: 0 8px;
  font-size: 24px;
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }

  .actions {
    float: right;
    margin: 0 0 0 10px;

    img {
      height: 28px;
    }

    &.attachment i {
      display: block;

      /*   transform: rotate(-45deg); */
    }
  }

  .sender-avatar {
    margin: 0 0 0 5px;
    width: 36px;
    height: 36px;

    img {
      border-radius: 50%;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
      display: block;
      width: 100%;
    }
  }

  .name {
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 90px;
  }

  .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
  }
}

/* Conversation */

.conversation {
  height: 104%;

  // height: calc(100% - 12px);
  position: relative;
  background: url("https://i.ibb.co/3s1f9Jq/default-wallpaper.png") repeat;
  z-index: 0;

  ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #e9e9e956;
    border: none;
    outline: none;
  }

  .conversation-container {
    // height: calc(100% - 68px);
    // box-shadow: inset 0 10px 10px -10px #000000;
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 16px;
    margin-bottom: 19px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

/* Messages */

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;

  .time {
    color: rgba(0, 0, 0, 0.65);
    font-size: 11px;
    display: inline-block;
  }

  .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;

    svg {
      position: absolute;
      transition: .5s ease-in-out;

      &:first-child {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: perspective(800px) rotateY(180deg);
        transform: perspective(800px) rotateY(180deg);
      }

      &:last-child {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: perspective(800px) rotateY(0deg);
        transform: perspective(800px) rotateY(0deg);
      }
    }
  }

  .tick-animation svg {
    &:first-child {
      -webkit-transform: perspective(800px) rotateY(0);
      transform: perspective(800px) rotateY(0);
    }

    &:last-child {
      -webkit-transform: perspective(800px) rotateY(-179.9deg);
      transform: perspective(800px) rotateY(-179.9deg);
    }
  }
}

.message {
  &:first-child {
    margin: 16px 0 8px;
  }

  &.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: left;

    .metadata {
      padding: 0 0 0 16px;
    }

    &:after {
      border-width: 0px 10px 10px 0;
      border-color: transparent #fff transparent transparent;
      top: 0;
      left: -10px;
    }
  }

  &.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: right;

    &:after {
      border-width: 0px 0 10px 10px;
      border-color: transparent transparent transparent #e1ffc7;
      top: 0;
      right: -10px;
    }
  }
}

/* Compose */

.conversation-compose {
  display: flex;
  position: absolute;
  bottom: 10px;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 40px;
  width: 100%;
  z-index: 2;

  div,
  input {
    background: #fff;
    height: 100%;
  }

  .input-msg {
    border: 0;
    flex: 1 1 auto;
    font-size: 13px;
    margin: 0;
    outline: none;
    min-width: 50px;
    height: 38px;
    padding: 0;
  }

  .photo {
    flex: 0 0 auto;
    border-radius: 0 30px 30px 0;
    text-align: center;
    width: auto;
    display: flex;
    padding-right: 6px;
    height: 38px;

    img {
      display: block;
      color: #7d8488;
      font-size: 24px;
      transform: translate(-50%, -50%);
      position: relative;
      top: 50%;
      margin-left: 10px;
    }
  }

  .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-right: 8px;
    padding: 0;
    position: relative;
    outline: none;
    margin-left: .5rem;

    .circle {
      background: #008a7c;
      border-radius: 50%;
      color: #fff;
      position: relative;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 24px;
        margin-left: 1px;
      }
    }
  }

  .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50% 0 0 50%;
    flex: 0 0 auto;
    margin-left: 8px;
    width: 38px;
    height: 38px;
  }

}

/* Small Screens */

@media (max-width: 768px) {
  .marvel-device.nexus5 {
    border-radius: 0;
    flex: none;
    padding: 0;
    max-width: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .marvel-device>.screen .chat {
    visibility: visible;
  }

  .marvel-device {
    visibility: hidden;
  }

  .marvel-device .status-bar {
    display: none;
  }

  .screen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .conversation {
    height: calc(100vh - 55px);
  }

  .conversation .conversation-container {
    height: calc(100vh - 120px);
  }
}


@keyframes scaler {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.textField {
  margin-top: 8px;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  color: #7d8489;
}

.emoG {
  color: #7d8489;
}

.profile {
  color: white;
  font-size: 30px;
}

.send {
  margin-top: 4px;
  font-size: 20px;
}