<div id="forgot-password" fxLayout="column" fusePerfectScrollbar>

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="start center" *fuseIfOnDom
         [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
  
      <div id="forgot-password-form">
  
        <div class="logo">
          <img *ngIf="!logoLink && !logoLoad" src="assets/images/logos/fuse.svg">
          <img *ngIf="logoLink && !logoLoad" [src]="logoLink">
        </div>
  
        <div class="title">CREATE YOUR PASSWORD</div>
  
        <form name="forgotPasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="setNewPassword()">
  
          <mat-form-field class="full-width">
            <input matInput formControlName="newPassword" [type]="showPassword1.checked ? 'text' : 'password'" tabindex="3" placeholder="New password">
            <mat-button-toggle #showPassword1 matSuffix><mat-icon *ngIf="showPassword1.checked">visibility</mat-icon><mat-icon *ngIf="showPassword1.checked===false">visibility_off</mat-icon></mat-button-toggle>
            <mat-error *ngIf="changePasswordForm.controls.newPassword.hasError('pattern') || changePasswordForm.controls.newPassword.hasError('minlength') || changePasswordForm.controls.newPassword.hasError('maxlength')">
              Password must contain at least 1 upper-case letter, 1 lower-case letter, 1 digit, 1 symbol (except < >), and be at least 8 characters long without any space
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width margin-top">
            <input matInput formControlName="confirmNewPassword"
            [type]="showPassword2.checked ? 'text' : 'password'" tabindex="4"
                   placeholder="Confirm new password">
            <mat-button-toggle #showPassword2 matSuffix><mat-icon *ngIf="showPassword2.checked">visibility</mat-icon><mat-icon *ngIf="showPassword2.checked===false">visibility_off</mat-icon></mat-button-toggle>
            
            <mat-error *ngIf="changePasswordForm.hasError('isMatch')  && changePasswordForm['controls']['newPassword'].touched && changePasswordForm['controls']['confirmNewPassword'].touched">
              Password doesn't match
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button class="submit-button primary-button" type="submit"
                  aria-label="UPDATE PASSWORD" [disabled]="changePasswordForm.invalid">
            RESET
          </button>
        </form>
  
        <div class="login" fxLayout="row" fxLayoutAlign="center center">
          <a class="link" [routerLink]="'/account/login'">Go back to login</a>
        </div>
  
      </div>
  
    </div>
  
  </div>