@import "src/@fuse/scss/fuse";

.mat-button-toggle-label-content ,.mat-button-toggle-standalone,.mat-button-toggle-checked {
  box-shadow: unset !important;
  background: #fff !important;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


:host {

  #login {
    width: 100%;
    overflow: auto;
    background-size: cover;

    #login-form-wrapper {
      flex: 1 0 auto;
      padding: 32px;

      @include media-breakpoint('xs') {
        padding: 16px;
        width: 100vw;
      }

      #login-form {
        width: 384px;
        max-width: 384px;
        padding: 32px;
        background: #FFFFFF;
        text-align: center;
        // @include mat-elevation(16);

        @include media-breakpoint('xs') {
          padding: 24px;
          width: 100%;
        }

        .logo {
          // width: 128px;
          height: 130px;
          margin: 32px auto;
          img {
            height: 130px;
            animation: slide-up 0.4s ease;
          }
        }

        .title {
          font-size: 20px;
          margin: 16px 0 32px 0;
        }

        form {
          width: 100%;
          text-align: left;

          mat-form-field {
            width: 100%;
          }

          mat-checkbox {
            margin: 0;
          }

          .remember-forgot-password {
            font-size: 13px;
            margin-top: 8px;

            .remember-me {
              margin-bottom: 16px
            }

            .forgot-password {
              font-size: 13px;
              font-weight: 500;
              margin-bottom: 16px
            }
          }

          .submit-button {
            width: 100%;
            display: block;

            @include media-breakpoint('xs') {
              width: 90%;
            }
          }
        }

        .register {
          margin: 32px auto 24px auto;
          font-weight: 500;

          .text {
            margin-right: 8px;
          }
        }

        .separator {
          font-size: 15px;
          font-weight: 600;
          margin: 24px auto;
          position: relative;
          overflow: hidden;
          width: 100px;
          color: rgba(0, 0, 0, 0.54);

          .text {
            display: inline-flex;
            position: relative;
            padding: 0 8px;
            z-index: 9999;

            &:before, &:after {
              content: '';
              display: block;
              width: 30px;
              position: absolute;
              top: 10px;
              border-top: 1px solid rgba(0, 0, 0, 0.12);
            }

            &:before {
              right: 100%;
            }

            &:after {
              left: 100%;
            }
          }
        }

        button {

          &.google,
          &.facebook {
            width: 192px;
            text-transform: none;
            color: #FFFFFF;
            font-size: 13px;
          }

          @include media-breakpoint('xs') {
            width: 80%;
          }

          &.google {
            background-color: #D73D32;
            margin-bottom: 8px;
          }

          &.facebook {
            background-color: rgb(63, 92, 154);
          }
        }
      }
    }
  }
}
