<div id="login" fxLayout="column" fusePerfectScrollbar>
  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img *ngIf="!logoLink && !logoLoad" src="assets/images/logos/fuse.svg">
        <img *ngIf="logoLink && !logoLoad" [src]="logoLink">
      </div>

      <div class="title">LOGIN TO YOUR ACCOUNT</div>

      <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <input matInput formControlName="email" type='email' placeholder="Email">
          <mat-error *ngIf="loginForm.controls.email.hasError('required')">
            This input field cannot be empty
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" [type]="showPassword3.checked ? 'text' : 'password'"
            placeholder="Password">
          <mat-button-toggle #showPassword3 matSuffix>
            <mat-icon *ngIf="showPassword3.checked">visibility</mat-icon>
            <mat-icon *ngIf="showPassword3.checked===false">visibility_off</mat-icon>
          </mat-button-toggle>
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            This input field cannot be empty
          </mat-error>
        </mat-form-field>
        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <!--<mat-checkbox class="remember-me" aria-label="Remember Me">-->
          <!--Remember Me-->
          <!--</mat-checkbox>-->

          <a class="forgot-password" [routerLink]="'../recover-password'">
            Forgot Password?
          </a>
        </div>
        <mat-error *ngIf="invalidCred">
          Invalid email or password
        </mat-error>
        <button mat-flat-button type="submit" class="submit-button primary-button" [class.buttonSpinner]="loading"
          aria-label="LOG IN" [disabled]="loginForm.invalid || loading">
          <span>LOGIN</span>
        </button>

      </form>
    </div>

  </div>

</div>