<h2 mat-dialog-title>Rename guest list</h2>

<mat-dialog-content class="menu">
  <irms-input-error class="custom-input"
      [fieldLabel]="'Name'" [inputControl]="form.controls['name']"
      [errorRangeText]="'List Name must be between 2 and 100 characters.'" [charactersCount]="100">
  </irms-input-error>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-flat-button secondary-button" (click)="close()">Cancel</button>
    <button class="mat-flat-button primary-button" (click)="confirm()" [disabled]="form.invalid">Rename</button>
</mat-dialog-actions>