<mat-card class="event-card" [routerLink]="'/events/'+data.id+'/dashboard'">
    <img mat-card-image *ngIf="data.imagePath" [style.background-image]="doPathUrl(data.imagePath)"
        src="{{transparentSource}}" alt="event">
    <img mat-card-image *ngIf="!data.imagePath" class="no-type" src="{{transparentSource}}" alt="form">
    <div class="hover-overlay" fxLayout="row" fxLayoutAlign="center center">
        <button type="button" class="edit-button" mat-flat-button>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-icon>settings</mat-icon>
                <h3>Manage Event</h3>
            </div>
        </button>
    </div>
    <mat-card-title irmsTextOverflow>{{data.name}}</mat-card-title>
    <!-- <div class="event-details">{{data.name}}</div> -->
    <mat-card-footer fxLayout="row" fxLayoutAlign="start center">
        <span class="responses">{{data.startDateTime | date}} - {{data.endDateTime | date}}</span>
    </mat-card-footer>
</mat-card>