@import "../../../../../../constants/variables.scss";
.edit-button {
    color: $primary-color;
}
.view-only {
    ::ng-deep .thumbnail img{
        width: 130px !important;
        height: 130px !important;
    }
}

agm-map { 
    height: 300px; 
    widows: 600px;
}
.form-field-wrapper {
    h4 {
        margin: 0;
        padding-bottom: 5px;
    }
}

irms-croppie-btn  {
    ::ng-deep .uploadButton {
        height: 140px;
        width: 140px;
    }
}
.imageThumbnail {
    height: 140px;
    width: 140px;
    background-size: cover !important;
    border-radius: 6%;    
    position: relative;
    button {
        position: absolute;
        right: -60px;
    }
}