<!-- PROGRESS BAR -->
<fuse-progress-bar></fuse-progress-bar>
<!-- / PROGRESS BAR -->

<div class="irms-container">
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    
    <content></content>
</div>
