<div *ngIf="data?.length > 0 || data?.length > 0 ; else emptyList ">
    <mat-accordion fusePerfectScrollbar>
        <mat-expansion-panel *ngFor="let list of data" [disabled]="list.listCount==0">
            <mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="97">
                    <mat-checkbox fxFlex="10"
                        [checked]="list.checked === 'all' && list.checked !== 'indeterminate' && list.checked !== 'none'"
                        [indeterminate]="list.checked === 'indeterminate' && list.checked !== 'none'"
                        (click)="$event.stopPropagation()" (change)="groupSelect($event.checked, list.listId)"
                        [disabled]="list.listCount==0"></mat-checkbox>
                    <div fxFlex="70" fxLayout="row" fxLayoutAlign="start start">
                        <span class="list-title" fxFlex="100" irmsTextOverflow>{{list.listName}}</span>
                    </div>
                    <div fxFlex="20" [ngClass]="{'disabled-list': list.listCount==0}">
                        <span class="chip2" *ngIf="list.type === 0"><span
                                class="count">{{list.listCount}}</span>&nbsp;Contacts</span>
                        <span class="chip1" *ngIf="list.type === 1"><span
                                class="count">{{list.listCount}}</span>&nbsp;Guests</span>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <div class="contacts-list" fusePerfectScrollbar fxLayout="column">
                <!-- <irms-generic-list [svgPositionRelative]="svgPositionRelative" [staticList]="list.items" [static]="true"
                    [dataListItemBody]="listItemComponent" (onCheckChange)="selectionChange($event, list.listId)"
                    [returnSelectedItemsList]="true" [selectedIds]="getSelected(list.listId)" [selectable]="true">
                </irms-generic-list> -->
                <div *ngFor="let item of list.items" class="contact">
                    <mat-checkbox (change)="selectGuest($event.checked, list.listId, item.item.id, item.item)"
                        [checked]="list.checked === 'all' && list.checked !== 'indeterminate' && list.checked !== 'none'"
                        >
                    </mat-checkbox>
                    <div fxFlex="90" fxLayout="row" fxFlex>
                        <div fxFlex="90">{{item.item.fullName}}</div>
                        <div fxFlex="10" fxLayoutAlign="center end">
                            <span>
                                <mat-icon *ngIf="item.item.email">email</mat-icon>
                            </span>
                            <span>
                                <mat-icon *ngIf="item.item.phone">phone</mat-icon>
                            </span>
                        </div>
                    </div>                
                </div>

            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<ng-template #emptyList>
    <irms-empty-list-message [heading]="'Select Lists to see them here'" [secondaryText]="" [type]="'selectSomething'"
        [class.custom-grouped-list-wrapper]="svgPositionRelative">
    </irms-empty-list-message>
</ng-template>