<div fxLayout="row" class = "wrapper">
    <div class="selectable-space">
        <mat-checkbox *ngIf="selectable" (change)="toggleSelectAll($event.checked)" [checked]="checked"
        [indeterminate]="indeterminate"></mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign= "space-between center" class="headers" fxFlex="100">
        <div *ngFor="let header of listHeaders" fxFlex  class="header-item">
            {{header}}
        </div>
    </div>
    <div class="selectable-space action" *ngIf="actionMenu">
    </div>
</div>
