@import "../../../../../../constants/variables.scss";

:host{
    height:100%;
}
.filter-title {
    margin-inline-end: 15px;
    font-size: 16px;
    font-weight: 600;
}
.list-container {
    height: 100%;
    border: $theme-box-border;
    // margin-inline-end: 12px;
    border-radius: 6px;
    .header, .entity-info {
        padding: 10px 24px;
        mat-icon{
            margin-left: -5px;
        }
    }
    &:hover {
        border-color: $accent-color !important;
        .header {
            border-color: $accent-color !important;
        }
    }
    .header {
        position: relative;
        border-bottom: 2px solid rgba(0, 0, 0, 0.12);
        font-weight: 600;
    }
    .entity-info {
        border-bottom: 1px solid rgb(223, 223, 223);
        
    }
    
}


.media-stat-hint {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
}
.media-stats {
    width:100%;
    .media-stat-item{
        mat-checkbox {
            margin: 0 0px 8px;
        }
        span {
            text-align: center;
            font-weight: 600;
        }
        .value {
            margin-top: 0px;
        }
    }
}

.reachability{
    color:$accept-color;
}

.spacer{
    margin-top:50%;
    position: absolute;
    width: 1px;
    
}

.subscribeMessage{
    position: fixed;
    //margin-top:50%;
    height:100%;
    width:8%;
    background-color:$theme-white;
    color:$dark;
}

.list-detail-item{
    mat-icon{
        margin-left:-11px !important;
    }
}

.list-detail-item-borderless {
    position: fixed;
    background:rgba(202,202,202,.5);
    height:55vh;
    font-size: 16px;
    max-width:8%;
    margin-left:37%;
    margin-top: 0px;
    z-index: 22;
    padding:5px;
    button {
        margin:0 !important;
    }
}

.list{
    min-height: 55vh;
    max-height: 55vh;
    // overflow-y: auto !important;
}

.dialogContentContainer{
    min-height:80vh !important;
}