<h2 mat-dialog-title>Set preferred communication medium</h2>

<mat-dialog-content fxLayout="column" class="dialogContentContainer">
    <div fxLayout="column" fxLayoutAlign="start stretch" class="form-field-group" *ngIf="isSubscribed">
        <h4 class="media-stat-hint">
            <mat-hint>Your list contacts are reachable through</mat-hint>
        </h4>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="media-stats" fxFlex="100">
            <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon>email</mat-icon>
                    <span>Email</span>
                </div>
                <span class="value">{{reachability?.item2?.emailCount}}</span>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon>sms</mat-icon>
                    <span>SMS</span>
                </div>
                <span class="value">{{reachability?.item2?.smsCount}}</span>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon svgIcon="whatsapp"></mat-icon>
                    <span>Whatsapp</span>
                </div>
                <span class="value">{{reachability?.item2?.whatsAppCount}}</span>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" class="media-stat-item">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon>phonelink_erase</mat-icon>
                    <span>Not Reachable</span>
                </div>
                <span class="value">{{reachability?.item2?.notReachableCount}}</span>
            </div>
        </div>
    </div>
    <irms-generic-search-bar fxFlex="100" [searchPlaceholder]="'Search for guests'" [emitQuery]="true"
        (searchText)="searchQueryChange($event)">
    </irms-generic-search-bar>
    <div class="filters" fxLayout="row">
        <div fxLayout="row" fxFlex="60">
            <div class="filter-title">Show me contacts reachable via:</div>
            <irms-checkbox-filter [filterType]="'custom'" [filterArray]="mediaFilterArray"
                (onFilterChange)="filterChange($event)" [selectedFilters]="filterArgs.selectedFilters">
            </irms-checkbox-filter>
        </div>
    </div>
    <div fxLayout="row" fxFlex="100">
        <div class="list-container" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100">
            <div class="header" fxLayout="row" fxLayoutAlign="start center" fxFlex="20">
                <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxFlex="40">
                    <span class="list-detail-item name">Guests</span>
                </div>
                <div class="info" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <span class="list-detail-item" fxLayout="column" fxLayoutAlign="center center" fxFlex="14">
                        <mat-icon>email</mat-icon>
                        <mat-checkbox id="emailSelectAll" [(ngModel)]="selectedAll.email"
                            (change)="selectAll($event.checked, 'email')"></mat-checkbox>
                    </span>
                    <span class="list-detail-item" fxLayout="column" fxLayoutAlign="center center" fxFlex="14">
                        <mat-icon>sms</mat-icon>
                        <mat-checkbox id="smsSelectAll" [(ngModel)]="selectedAll.sms"
                            (change)="selectAll($event.checked, 'sms')"></mat-checkbox>
                    </span>
                    <span class="list-detail-item" fxLayout="column" fxLayoutAlign="center center" fxFlex="14">
                        <mat-icon svgIcon="whatsapp"></mat-icon>
                        <mat-checkbox id="whatsappSelectAll" [(ngModel)]="selectedAll.whatsapp"
                            (change)="selectAll($event.checked, 'whatsapp')"></mat-checkbox>
                    </span>
                    <!-- spacing for fxFlex -->
                    <span fxFlex="31"></span>
                    <span class="list-detail-item" fxLayout="column" fxLayoutAlign="center start" fxFlex="93px">
                        <button class="mat-flat-button primary-button" (click)="autoSelect()" [disabled]="!isSubscribed"
                            [irmsButtonLoader]="saveLoading"><span>Auto Select</span></button>
                    </span>
                </div>
            </div>
            <div class="list" *ngIf="!isLoading; else loading" fxLayout="column" fxLayoutAlign="start stretch"  fusePerfectScrollbar
                [formGroup]="preferredMediaForm">
                <div class="list-detail-item-borderless" *ngIf="!isSubscribed">
                    <span *ngIf="!isSubscribed" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
                        <span fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
                            <span>
                                To view your guests reachability, you need to subscribe.
                                <br><br>
                            </span>
                            <span fxLayout="row" fxLayoutAlign="center center">
                                <button class="mat-flat-button primary-button"
                                    [irmsButtonLoader]="saveLoading"><span>Subscribe</span></button>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="entity-info"
                    *ngFor="let guest of t.controls | preferredMediaListFilter:filterArgs; let i = index" fxLayout="row"
                    fxLayoutAlign="start center">
                    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="start start" fxFlex="40">
                        <span class="list-detail-item name" fxFlex="100">{{guest.controls.fullName.value}}</span>
                    </div>
                    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <span class="list-detail-item" [formGroup]="guest" fxFlex="14" fxLayoutAlign="center center">
                            <mat-checkbox formControlName="email">
                            </mat-checkbox>
                        </span>
                        <span class="list-detail-item" [formGroup]="guest" fxFlex="14" fxLayoutAlign="center center">
                            <mat-checkbox formControlName="sms">
                            </mat-checkbox>
                        </span>
                        <span class="list-detail-item" [formGroup]="guest" fxFlex="14" fxLayoutAlign="center center">
                            <mat-checkbox formControlName="whatsApp">
                            </mat-checkbox>
                        </span>
                        <!-- empty span for flex spacing -->
                        <span fxFlex="5"></span>
                        <span class="list-detail-item" fxFlex="21" *ngIf="isSubscribed" fxLayoutAlign="center center">
                            <span fxFlex="33" fxLayout="column"
                                matTooltip="Reachable through Email">
                                <mat-icon *ngIf="guest.controls.emailDisabled.value">email</mat-icon>
                                <mat-icon *ngIf="guest.controls.emailDisabled.value" class="reachability">done</mat-icon>
                            </span>
                            <span fxFlex="33" fxLayout="column"
                                matTooltip="Reachable through SMS">
                                <mat-icon *ngIf="guest.controls.smsDisabled.value">sms</mat-icon>
                                <mat-icon class="reachability" *ngIf="guest.controls.smsDisabled.value">done</mat-icon>
                            </span>
                            <span fxFlex="33"  fxLayout="column"
                                matTooltip="Reachable through WhatsApp">
                                <mat-icon svgIcon="whatsapp" *ngIf="guest.controls.whatsAppDisabled.value"></mat-icon>
                                <mat-icon class="reachability" *ngIf="guest.controls.whatsAppDisabled.value">done</mat-icon>
                            </span>
                        </span>
                        <span *ngIf="!isSubscribed" fxFlex="21"></span>
                        <!-- empty span for flex spacing -->
                        <span fxFlex="5"></span>
                        <span *ngIf="guest.controls.whatsappOptedIn.value" class="chip1">Opted-in</span>
                        <span *ngIf="!guest.controls.whatsappOptedIn.value" class="chip-danger">Opted-out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-flat-button secondary-button" (click)="close()">Cancel</button>
    <button class="mat-flat-button primary-button" (click)="save()"
        [irmsButtonLoader]="saveLoading"><span>Save</span></button>
</mat-dialog-actions>
<ng-template #loading>
    <irms-generic-content-loader [loaderType]="'section-list'"></irms-generic-content-loader>
</ng-template>