<div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100">
    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="whatsappForm" fxFlex="100">
        <div class="fieldRow" fxLayout="row" fxLayoutAlign="center center" fxFlex="15" *ngIf="isLanding">
            <mat-button-toggle-group [formControl]="whatsappForm.controls['method']" name="fontStyle"
                aria-label="Font Style" (change)="resetMethod($event.value)">
                <mat-button-toggle class="buttonToggle" value="bot">Bot message</mat-button-toggle>
                <mat-button-toggle class="buttonToggle" value="template">Pre-defined template</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="fieldRow" fxLayout="row" fxLayoutAlign="start center" fxFlex="15">
            <span fxFlex="20">
                <span>Template Name</span>
            </span>
            <mat-form-field fxFlex="100" appearance="standard">
                <mat-select [formControl]="whatsappForm.get(['template', 'id'])" [required]="true">
                    <div *ngIf="isLanding && whatsappForm.controls['method'].value == 'template'">
                        <mat-option *ngFor="let model of template" [value]="model.id" [disabled]="model.isBot">
                            <mat-icon *ngIf="model.isBot">lock</mat-icon>{{model.name}}
                        </mat-option>
                    </div>
                    <div *ngIf="isLanding && whatsappForm.controls['method'].value == 'bot'">
                        <mat-option *ngFor="let model of template" [value]="model.id" [disabled]="!model.isBot">
                            <mat-icon *ngIf="!model.isBot">lock</mat-icon>{{model.name}}
                        </mat-option>
                    </div>
                    <div *ngIf="!isLanding">
                        <mat-option *ngFor="let model of template" [value]="model.id">
                            {{model.name}}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="fieldRow" fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex="20" fxLayoutAlign="start end">
                <span>From</span>
            </span>
            <mat-form-field appearance="standard" fxFlex>
                <mat-select [formControl]="whatsappForm.controls['sender']" [required]="true">
                    <mat-option *ngFor="let sender of senders" [value]="sender.id">
                        {{sender.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="fieldRow" fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex="20" fxLayoutAlign="start end">
                <span>To</span>
            </span>
            <mat-form-field appearance="standard" fxFlex>
                <input [disabled]="true" [value]="listName" matInput>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center center">
            <div class="content" [innerHTML]="body">

            </div>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="center start" class="buttonContainer">
            <button *ngIf="isLanding" mat-flat-button class="primary-button" [ngClass]="{'buttonWidth': isDialog}"
                (click)="design()" [irmsButtonLoader]="isChangingMethod">
                {{whatsappForm.controls['method'].value == 'bot'?'Design Bot Response': 'Design Template'}}
            </button>
        </div>
    </form>
    <!-- <div fxFlex="375px" fxLayout="row" fxLayoutAlign="center center" class="mobile-preview">
        <irms-whatsapp-preview [sender]="whatsappForm.controls['sender'].value" [messages]="[messageContent]"></irms-whatsapp-preview>
    </div> -->
</div>