<div class="campaign-flow" fxLayout="row" fxLayoutAlign="start stretch">
    <irms-campaign-flow-nodes class="nodes" (addEvent)="createNode()" (updateEvent)="updateNodes()" (copyEvent)="copyNode($event)"
    (deleteEvent)="deleteNode($event)" [nodes]="nodes"></irms-campaign-flow-nodes>
    <div class="node-view" fxFlex>
        <router-outlet  #pendingOutlet="outlet"></router-outlet>
        <irms-empty-list-message class="not-selected" *ngIf="!pendingOutlet.isActivated" 
        [heading]="nodes.length > 0 ? 'Select Reminders to work on' : 'Add Reminders'" [secondaryText]="" [type]="'selectSomething'">
        </irms-empty-list-message>
    </div>
</div>