@import "../../../../../constants/variables.scss";
::ng-deep .editor {
    min-height: 30vh;
}

textarea {
    min-height: 30vh;
}

.first {
    border-radius: 0 0 0 10px;
}

.mid {
    border-radius: 0px;
}

.last {
    border-radius: 0 0 10px 0;
}

.whatsapp-editor {
    position: relative;
    &.disabled-controls {
        pointer-events: none;
    }
    .editor {
        margin: 15px 0 0 0 !important;
        ::ng-deep .mat-form-field-wrapper {
            margin: 0 !important;
            padding: 0 !important;
        }
        
    }

    .format-options {
        border: solid 1.5px rgba(0, 0, 0, 0.12);
        border-top: 0;
        border-radius: 0 0 10px 10px;
        &.disabled-controls {
            pointer-events: none;
        }
    }
    &:hover {
        &:not(.disabled-controls).format-options {
            border-color: $accent-color;
            border-width: 2px;
        }
    }
}