@import "../.././../../constants/variables.scss";
:host { 
    width: 79vw;
    max-width: 100%;
}
.date-info-item {
    margin: 0px 20px;
    padding: 10px 0px;
}
.toolbar {
    border-bottom: $theme-box-border;
    border-top: $theme-box-border;
    height: auto !important;
    max-height: none !important;
}