@import "src/@fuse/scss/fuse";
@import "../../../../constants/mixins.scss";
:host {
    display: flex;
    flex: 1 1 auto;
    width: 80vw;
    max-width: 100%;

    @include respond-to($phone and $tablet-portrait) {
        width: 100vw;
    }
    height: 100%;

    #main {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        width: 100%;
        height: 100%;
        z-index: 1;
        min-width: 0;

        // Container 1 (Scrollable)
        > .container {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            // Container 2
            > .container {
                position: relative;
                display: flex;
                flex: 1 0 auto;
                flex-direction: row;
                width: 100%;
                min-width: 0;
                padding: 32px;

                // Content component
                > content {
                    flex: 1 1 auto;
                    min-width: 0;
                }
            }
        }
    }
}
irms-event-navbar {
    width: 238px;
    min-width: 238px;
    max-width: 238px;
}