@import "../../../../../../../constants/variables.scss";
.tags-section {
    margin-block-end: 16px;
    margin-block-start: 16px;
    padding: 16px;
    border: $theme-box-border;
    background-color: $theme-white;
}

.no-offset {
  margin-top: 0px;
}

.chips {
    height: 45px;
    width: 80vw;
    overflow-y: scroll;
    .chip2 {
        margin: 5px;
        list-style: none;
      &:hover, &.selected {
        cursor: pointer;
      }
    }
  }