<!-- Multiple Input Allowed -->
<div *ngIf="!reviewMode">
  <input [ngStyle]="{'color': theme.answers.color}" autofocus id="{{question.id}}"  [(ngModel)]="searchText" class="swipperForm_input" type="text" #search placeholder = "{{question.description}}">
  <div class="selected_options">
    <div *ngFor="let option of selectedOptions" >
      <span *ngIf="isArabic" [ngStyle]="{'color': theme.answers.color}" class="label">{{option.labelArabic}}</span>
      <span *ngIf="!isArabic" [ngStyle]="{'color': theme.answers.color}" class="label">{{option.label}}</span>
      <button type="button" class="remove" (click)="removeOption(option)"><svg xmlns="http://www.w3.org/2000/svg" fill="white" width="10" height="10" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></button>
    </div>
  </div>
  <ul class="chips"  [ngStyle]="{'border-color': theme.answers.color}">
    <li class="chip" [ngStyle]="{'color': theme.buttons.text, 'background': theme.buttons.background}" 
     *ngFor="let choice of question.choices | filter : searchText" (click)="addToSelectedOptions(choice)" 
     [class.selected]="selectedOptions.indexOf(choice) !== -1">
      <div *ngIf="isArabic">{{ choice.labelArabic }}</div>
      <div *ngIf="!isArabic">{{ choice.label }}</div>
    </li>
  </ul>
  <div class="error-message" *ngIf="inputControl.hasError('required')">
      <span *ngIf="isArabic">اختر واحدة</span>
      <span *ngIf="!isArabic">Please select atleast one</span>
    </div>
    <div class="error-message" *ngIf="!inputControl.valid && !inputControl.hasError('required') && inputControl.dirty">
        <span *ngIf="isArabic">هذا لا يبدو صحيحاً</span>
        <span *ngIf="!isArabic">Hmm...This doesn't seem valid</span>
    </div>
  <irms-continue-button [isArabic]="isArabic" [theme] = "theme.buttons" *ngIf="selectedOptions.length > 0  && !reviewMode" (next)="gotoNext()"></irms-continue-button>
</div>
<div *ngIf="reviewMode">
  <mat-form-field class="swipper-form-autocomplete" fxFill [ngStyle]="{'color': theme.answers.color}">
    <mat-select [formControl]="inputControl" [multiple]="true" panelClass="swipper-form-panel">
      <irms-swipper-mat-select-search-ext [theme] = "theme" [formControl]="selectSearchControl"></irms-swipper-mat-select-search-ext>
      <!-- <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
        {{bank.name}}
      </mat-option> -->
      <mat-option *ngFor="let choice of question.choices | filter : selectSearchControl.value"  [ngStyle]="{'color': theme.answers.color}"
      [value]="choice.value">
      {{isArabic ? choice.labelArabic : choice.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="error-message" *ngIf="inputControl.hasError('required')">
    <span *ngIf="isArabic">اختر واحدة</span>
    <span *ngIf="!isArabic">Please select atleast one</span>
  </div>
  <div class="error-message" *ngIf="!inputControl.valid && !inputControl.hasError('required') && inputControl.dirty">
      <span *ngIf="isArabic">هذا لا يبدو صحيحاً</span>
      <span *ngIf="!isArabic">Hmm...This doesn't seem valid</span>
  </div>
</div>
<!-- multiple inputs allowed-->