<mat-form-field fxFlex="100" appearance="outline" [floatLabel]="'always'">
    <mat-label>{{fieldLabel}}</mat-label>
    <input matInput type="text" [formControl]="inputControl" ng2TelInput [ng2TelInputOptions]="phoneConfig"
      (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)" (blur)="handleBlur"
      [required]="required" />
    <mat-error *ngIf="inputControl.hasError('required')">
        {{requiredErrorText}}
    </mat-error>
    <mat-error *ngIf="inputControl.value && !inputControl.valid && !inputControl.hasError('notUnique')">
      {{validErrorText}}
    </mat-error>
    <mat-error *ngIf="inputControl.hasError('notUnique')">
      {{existsErrorText}}
    </mat-error>
  </mat-form-field>
