@import "../../../../constants/variables.scss";
:host {
    width: 100%;
    height: 100%;
}
.tags-area {
  min-height: 325px;
  max-height: 325px;
  overflow-y: auto;
}
.buttons-menu-wrapper {
  padding: 8px;
}
::ng-deep irms-input-error .mat-form-field-appearance-standard{ 
  .mat-form-field-wrapper {
    padding-bottom: 0;
    .mat-form-field-flex {
      padding-top: 0;
      .mat-form-field-infix {
        border-top: none;
      }
    }
  }
}
.form-field-wrapper {
  padding-bottom: 5px;
}
::ng-deep .form-field-wrapper .mat-form-field-appearance-standard{ 
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      padding-top: 0;
      .mat-form-field-infix {
        border-top: none !important;
      }
    }
  }
}
.chips {
    height: 97px;
    width: 80vw;
    overflow-y: scroll;
    .chip2 {
        margin: 5px;
        list-style: none;
      &:hover, &.selected {
        cursor: pointer;
      }
    }
  }

  ::ng-deep .tox-editor-header {
    border-top: #cccccc 1px solid !important;
  }
  ::ng-deep .tox-toolbar__primary {
    width: 155px !important;
    float: right !important;
  }
  .editor-controls-aux {
    width: calc(100% - 155px);
    position: absolute;
    bottom: 0;    
    padding-left: 8px;
    z-index: 10;

    .landing-btn span {
      @media screen and (max-width: 1660px) {
        display: none;
      }
    }
  }

  .editor-wrapper {
    position: relative;
    height: 246px;
  }

  .info-tip {
    margin-top: 7px;
  }