<form *ngIf="emailForm" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="emailForm" fxFlex="100" >
    <div fxLayout="row" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay: '400ms', y:'100%'}}">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
            <irms-input-error [fieldLabel]="'Sender email'" [inputControl]="emailForm.controls['senderEmail']"
                [errorRangeText]="'Sender email must be between 2 and 200 characters.'" [errorPatternText]="'Enter Valid Email'" [charactersCount]="200" fxFlex="100"
                [appearance]="'standard'" [sideLabel]="true" [showCount]="false">
            </irms-input-error>                        
            <irms-input-error [fieldLabel]="'To'" [inputControl]="emailForm.controls['toName']" [appearance]="'standard'" [readonly]="true" [sideLabel]="true">
            </irms-input-error>
            <irms-input-error [fieldLabel]="'Subject'" [inputControl]="emailForm.controls['subject']"
                [errorRangeText]="'Subject must be between 2 and 200 characters.'" [charactersCount]="200"
                [required]="true" fxFlex="100" [appearance]="'standard'" [sideLabel]="true">
            </irms-input-error>
        </div>
    </div>
    <div class="editor-wrapper">
        <!-- <irms-rich-text-editor fxFlex="100"></irms-rich-text-editor> -->
        <editor fxFlex="100" (onClick)="setCurrentEditor($event)" [apiKey]="editorKey" [init]="tinyMceConfig"
            [formControl]="emailForm.controls['body']" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}"></editor>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="editor-controls-aux" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <button mat-flat-button class="primary-button landing-btn" *ngIf="isLanding" (click)="landingEmail()"><mat-icon>brush</mat-icon><span>Design Landing Pages</span></button>
            <div fxLayout="row">
                <button mat-icon-button [title]="'Tags'" [matMenuTriggerFor]="tagsMenu" [disabled]="!editor" #trigger="matMenuTrigger"><mat-icon svgIcon="placeholder"></mat-icon></button>
                <button mat-icon-button *ngIf="isRsvpButtons && !rsvpButtonsPresent" [disabled]="!editor" [title]="'Insert RSVP buttons'" (click)="insertRSVPButtons()"><mat-icon>view_agenda</mat-icon></button>
                <button mat-icon-button *ngIf="isRsvpButtons" [title]="'Button style'" [matMenuTriggerFor]="buttonsMenu"[disabled]="!editor" #buttonTrigger="matMenuTrigger"><mat-icon>dns</mat-icon></button>
             </div>
        </div>
    </div>
    <mat-error *ngIf="emailForm.controls['body'].hasError('required')">
        Please enter email content.
    </mat-error>
    <div *ngIf="!emailForm.controls['body'].hasError('required') && containsTags" class="info-tip" fxLayout="row" [@animate]="{value:'*',params:{delay:'800ms', duration:'600ms',y:'100px'}}">
        <div class="info-text" ngNonBindable>
            Replace <span class="text-bold">DEFAULT VALUE</span> with a word or a phrase that will be used when the guest's variable data is unavailable.
            <br>If you don't want to use a default value, simply delete it leaving only the tag: e.g. {{full_name}}
        </div>
    </div>
    
    <mat-menu #tagsMenu="matMenu" xPosition="after" yPosition="below" (mouseleave)="trigger.closeMenu()">
        <div fxLayout="column" fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="center center" (click)="$event.stopPropagation();">
                <irms-generic-search-bar fxFlex="98" [searchPlaceholder]="'Search for tags'" [emitQuery]="true"
                    (searchText)="searchTags($event)">
                </irms-generic-search-bar>
            </div>
            <div class="tags-area">
                <button mat-menu-item *ngFor="let tag of tags | filterKeyword : tagSearchKeyword" (click)="addTag(tag.placeholder)"><div>{{tag.title}}</div></button>
            </div>
        </div>
    </mat-menu>
    <mat-menu class="buttons-menu" #buttonsMenu="matMenu" xPosition="before" yPosition="above" (mouseleave)="buttonTrigger.closeMenu()">
        <div class="buttons-menu-wrapper" fxLayout="column" fxFlex="100" (click)="$event.stopPropagation();">
            <div class="form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="form-field-label">Color</span>
                <irms-generic-color-picker [color]="rsvpButtonForm.get('background')"></irms-generic-color-picker>
            </div>
            <div class="form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="form-field-label">Border color</span>
                <irms-generic-color-picker [color]="rsvpButtonForm.get('borderColor')"></irms-generic-color-picker>
            </div>
            <div class="form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="form-field-label">Border width</span>
                <mat-form-field [fxFlex]="20" [appearance]="'standard'">
                    <input matInput type='number' [formControl]="rsvpButtonForm.get('borderWidth')" />
                    <span matSuffix>px</span>
                </mat-form-field>
            </div>
            <div class="form-field-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="form-field-label">Border radius</span>
                <mat-form-field [fxFlex]="20" [appearance]="'standard'">
                    <input matInput type='number' [formControl]="rsvpButtonForm.get('borderRadius')" />
                    <span matSuffix>px</span>
                </mat-form-field>
            </div>
        </div>
    </mat-menu>
</form>
<!-- button-wrapper-start -->
<!-- button-wrapper-end -->
