<mat-card class="list-item" fxLayout="column" fxLayoutAlign="start center" *ngIf="data.isPurchased == isSubscribed">
    <div class="paidRibbon" *ngIf="!isSubscribed">
        Paid
    </div>
    <div class="selection" fxFlex="12">
        <div *ngIf="readonly || selectable">
            <mat-checkbox [(ngModel)]="selected" (ngModelChange)="onSelectedChange(data)" *ngIf="data.isPurchased"
                (click)="$event.stopPropagation();" [disabled]="readonly"></mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="88">
        <irms-image class="icon" [image]="'http://placehold.it/32x32'" fxFlex="20"></irms-image>
        <div class="theme-details" fxFlex="30">{{data.title}}</div>
        <span class="description" fxFlex="50">{{data.description}}</span>
    </div>
</mat-card>