@import "../../../../../../constants/variables.scss";
mat-card{
    background-color: $secondary-color !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 200px;
    display: inline-block;
    margin:7px;
    border-radius: 5%;
    height: 274px;
    .icon {
        ::ng-deep .photo {
        text-align: center;
        margin-right: 0px;
        float: none;
        }
    }
    .theme-details{
        // top: 30%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        text-align: center;
    }
    mat-card-footer{
        padding: 0px 10px;
    }
    &:hover {
        box-shadow: 0 14px 28px rgba(1, 0, 85, 0.15), 0 10px 10px rgba(0,0,0,0.17) !important;
      }

}
.selection {
    ::ng-deep mat-checkbox {
        margin-inline-end: 0px;
        margin-block-end: 0px;
    }
}
.paidRibbon {
    width: 112px;
    height: 47px;
    right: 0;
    padding-left: 45px;
    padding-top: 11px;
    border-bottom: 3px solid #2ac8b8;
    -webkit-transform: translateY(-23px) translateX(23px) rotate(35deg);
    transform: translateY(-23px) translateX(23px) rotate(35deg);
    position: absolute;
}