<div fxLayout="row" class="tab-content">
    <div fxFlex="20">
        <h1 class="section-heading">Personal Info</h1>
    </div>
    <div fxFlex="80">
        <div *ngIf="!editInfoMode && model" [@animate]="{value:'*',params:{y:'100%'}}">
            <div fxLayout="column" fxLayoutAlign="start" class="view-only" fxFlex="70">
                <span fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto">
                    <button mat-icon-button class="edit-button" (click)="editInfo()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </span>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Title</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.title; else noValue">{{model.title}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Full name</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.fullName; else noValue">{{model.fullName}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Preferred name</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.preferredName; else noValue">{{model.preferredName}}
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Gender</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.gender; else noValue">{{model.gender}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Nationality</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.nationalityId; else noValue">{{getNationality(model.nationalityId)}}
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Document Type</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.documentTypeId; else noValue">{{getDocumentType(model.documentTypeId)}}
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Document Number</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.documentNumber else noValue">{{model.documentNumber}}
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Issuing Country</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.issuingCountryId; else noValue">
                        {{getCountry(model.issuingCountryId)}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Expiration date</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.expirationDate; else noValue">{{model.expirationDate | date:'dd/MM/yyyy'}}
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Email Address</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.email; else noValue">{{model.email}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Alternate Email Address</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.alternativeEmail; else noValue">
                        {{model.alternativeEmail}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Mobile Number</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.mobileNumber; else noValue">{{model.mobileNumber}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Secondary Mobile Number</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.secondaryMobileNumber; else noValue">
                        {{model.secondaryMobileNumber}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Work Number</mat-label>
                    <div fxFlex="75" class="value" *ngIf="model.workNumber; else noValue">{{model.workNumber}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="editInfoMode" [@animate]="{value:'*',params:{y:'100%'}}">
            <form fxLayout="column" fxLayoutAlign="start" [formGroup]="guestInfoForm">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100" appearance="outline">
                        <mat-label>
                            Title
                        </mat-label>
                        <mat-select [formControl]="guestInfoForm.controls['title']">
                            <mat-option *ngFor="let title of titles" [value]="title.id">
                                {{title.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-input-error [fieldLabel]="'Full Name'" [inputControl]="guestInfoForm.controls['fullName']"
                        [errorRangeText]="'Full Name must be between 2 and 100 characters.'" [charactersCount]="100"
                        fxFlex="100" [required]="true">
                    </irms-input-error>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-input-error [fieldLabel]="'Preferred Name'"
                        [inputControl]="guestInfoForm.controls['preferredName']"
                        [errorRangeText]="'Preferred Name must be between 2 and 100 characters.'"
                        [charactersCount]="100" fxFlex="100">
                    </irms-input-error>
                </div>
                <div fxLayout="column" fxLayoutAlign="start start" fxFlex="1 0 auto">
                    <mat-label>
                        <h4>Gender</h4>
                    </mat-label>
                    <mat-radio-group aria-label="attendees" [formControl]="guestInfoForm.controls['gender']"
                        fxLayout="column" fxLayoutAlign="start">
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <mat-radio-button value="male">Male</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Nationality</mat-label>
                    <mat-select [formControl]="guestInfoForm.controls['nationalityId']">
                        <mat-option *ngFor="let nationality of nationalities" [value]="nationality.id">
                            {{nationality.nationality}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Document Type</mat-label>
                    <mat-select [formControl]="guestInfoForm.controls['documentTypeId']">
                        <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.id">
                            {{documentType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-input-error [fieldLabel]="'Document Number'"
                        [inputControl]="guestInfoForm.controls['documentNumber']"
                        [errorPatternText]="'Enter Valid Document Number'" fxFlex="100">
                    </irms-input-error>
                </div>
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Issuing Country</mat-label>
                    <mat-select [formControl]="guestInfoForm.controls['issuingCountryId']">
                        <mat-option *ngFor="let issuingCountry of issuingCountries" [value]="issuingCountry.id">
                            {{issuingCountry.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100" appearance="outline">
                        <mat-label>Expiration Date</mat-label>
                        <input matInput [owlDateTimeTrigger]="dt12"
                            [formControl]="guestInfoForm.controls['expirationDate']" [owlDateTime]="dt12"
                            (dateTimeChange)="expirationDateChanged($event)" autocomplete="off">
                        <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input matInput [formControl]="guestInfoForm.controls['email']" type='email'
                            (blur)="checkEmail(guestInfoForm.controls['email'])" [required]="true">
                        <mat-error *ngIf="guestInfoForm.controls['email'].hasError('required')">
                            This input field cannot be empty
                        </mat-error>
                        <mat-error *ngIf="guestInfoForm.controls['email'].hasError('pattern')">
                            Please enter a valid email address.
                        </mat-error>
                        <mat-error *ngIf="guestInfoForm.controls['email'].hasError('notUnique')">
                            A contact already exists with that email address.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100" appearance="outline">
                        <mat-label>Alternative Email Address</mat-label>
                        <input matInput [formControl]="guestInfoForm.controls['alternativeEmail']" type='email'
                            (blur)="checkEmail(guestInfoForm.controls['alternativeEmail'])">
                        <mat-error *ngIf="guestInfoForm.controls['alternativeEmail'].hasError('pattern')">
                            Please enter a valid email address.
                        </mat-error>
                        <mat-error *ngIf="guestInfoForm.controls['alternativeEmail'].hasError('notUnique')">
                            A contact already exists with that email address.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-phone-input [fieldLabel]="'Mobile Number'"
                        [inputControl]="guestInfoForm.controls['mobileNumber']"
                        (onBlur)="checkPhone(guestInfoForm.controls['mobileNumber'])" [required]="true" fxFlex="100">
                    </irms-phone-input>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-phone-input [fieldLabel]="'Secondary Mobile Number'"
                        [inputControl]="guestInfoForm.controls['secondaryMobileNumber']"
                        (onBlur)="checkPhone(guestInfoForm.controls['secondaryMobileNumber'])" fxFlex="100">
                    </irms-phone-input>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-phone-input [fieldLabel]="'Work Number'" [inputControl]="guestInfoForm.controls['workNumber']"
                        (onBlur)="checkPhone(guestInfoForm.controls['workNumber'])" fxFlex="100"></irms-phone-input>
                </div>
                <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
                    fxFlex="100">
                    <div class="btn">
                        <button mat-button (click)="viewGuestInfo()" class="secondary2-button">Cancel</button>
                    </div>
                    <div class="btn">
                        <button mat-button [disabled]="guestInfoForm.invalid" class="primary-button" (click)="updateEventInfo()">Update
                            Guest</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #noValue>
    <div fxFlex="75" class="noValue value">-</div>
</ng-template>