<div fxLayout="row" class="tab-content">
    <div fxFlex="20">
        <h1 class="section-heading">Account</h1>
    </div>
    <div fxFlex="80">
        <div *ngIf="!editInfoMode && model" [@animate]="{value:'*',params:{y:'100%'}}">
            <div fxLayout="column" fxLayoutAlign="start" class="view-only" fxFlex="70">
                <span fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto">
                    <button mat-icon-button class="edit-button" (click)="toggleMode()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </span>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Full name</mat-label>
                    <div fxFlex="75" class="value">{{model.fullName}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Email Address</mat-label>
                    <div fxFlex="75" class="value">{{model.email}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Mobile Number</mat-label>
                    <div fxFlex="75" class="value">{{model.mobileNumber}}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Two Factor Authentication</mat-label>
                    <div fxFlex="75" class="value">{{model.twoFactorAuth ? 'Enabled' : 'Disabled'}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="editInfoMode" [@animate]="{value:'*',params:{y:'100%'}}">
            <form fxLayout="column" fxLayoutAlign="start" [formGroup]="userInfoForm">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <irms-input-error [fieldLabel]="'Full Name'" [inputControl]="userInfoForm.controls['fullName']"
                        [errorRangeText]="'Full Name must be between 2 and 100 characters.'" [charactersCount]="100"
                        fxFlex="100" [required]="true">
                    </irms-input-error>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input matInput [formControl]="userInfoForm.controls['email']" type='email'
                            (blur)="checkEmail(userInfoForm.controls['email'])" [disabled]="true">
                        <mat-error *ngIf="userInfoForm.controls['email'].hasError('required')">
                            This input field cannot be empty
                        </mat-error>
                        <mat-error *ngIf="userInfoForm.controls['email'].hasError('pattern')">
                            Please enter a valid email address.
                        </mat-error>
                        <mat-error *ngIf="userInfoForm.controls['email'].hasError('notUnique')">
                            A contact already exists with that email address.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput [formControl]="userInfoForm.controls['mobileNumber']"
                        (onBlur)="checkPhone(userInfoForm.controls['mobileNumber'])" [disabled]="true" fxFlex="100">
                    </mat-form-field>
                </div>
                <div>
                    <mat-slide-toggle [formControl]="userInfoForm.controls['twoFactorAuth']" [checked]="userInfoForm.controls['twoFactorAuth'].value">
                        Two Factor Authentication
                    </mat-slide-toggle>
                </div>
                <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
                    fxFlex="100">
                    <div class="btn">
                        <button mat-button (click)="toggleMode()" class="secondary2-button">Cancel</button>
                    </div>
                    <div class="btn">
                        <button mat-button [disabled]="userInfoForm.invalid" class="primary-button" (click)="updateUserInfo()">
                            Save Changes
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<!-- Password -->
<div fxLayout="row" class="tab-content">
    <div fxFlex="20">
        <h1 class="section-heading">Password</h1>
    </div>
    <div fxFlex="80">
        <div *ngIf="model" [@animate]="{value:'*',params:{y:'100%'}}">
            <div fxLayout="column" fxLayoutAlign="start" class="view-only" fxFlex="70">
                <span fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto">
                    <button mat-icon-button class="edit-button" [disabled]="editInfoMode" (click)="changePassword()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </span>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                    <mat-label fxFlex="25">Password</mat-label>
                    <div fxFlex="75" class="value">********</div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noValue>
    <div fxFlex="75" class="noValue value">-</div>
</ng-template>