:host {
  width: 100%;
}

.chip-list {
  width: 100%;
  margin-bottom: -1.25em;

  .mat-form-field-infix {
    padding: 0 !important;
  }

  mat-chip-list {
    mat-chip {
      margin-bottom: 2px;
      padding: 4px 8px;

      &:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
        margin: 0;
        margin-bottom: 2px;
        padding: 4px 8px;
      }

      .mat-chip-remove {
        margin-left: 0px;
      }
    }
  }
}

mat-option.chip-selected {
  opacity: 0.2;
}
