@import "../../../../../constants/variables.scss";
.list-empty{
    width: 100%;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;

    .svg {
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: auto;
        text-align: center;
        margin: auto;
        margin-block-start: 5%;
        svg {
            width: 40%;
            height: auto;
        }
        &.portrait > svg {
            // width: 57%;
            opacity: 0.7;
            // padding-top: 10%;
            color: #d6c7bb;
        }
    }
    .message {
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        color: $primary-color;
        h1{
            font-size: 30px;
            margin-bottom: 5px;
        }
        span {
            font-style: italic;
        }
    }
}
.relative {
    position: relative;
}
