@import "../../../../../../constants/variables.scss";
.contents {
    padding: 16px;
    color: $primary-color;
    margin-top: 64px;
  
    .type {
      width: 24px;
    }
  
    .type-title {
      padding-left: 5px;
    }
  }
  .content-type {
    margin-block-end: 12px;

    .type-chip {
        background-color: $primary-color;
        display: flex;
        position: relative;
        -webkit-box-align: center;
        align-items: center;
        height: 32px;
        min-width: 57px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        border-radius: 4px;
        padding: 0px 7px;
        margin-right: 4px;
        color: $theme-white;
    }
}

.type-icon {
    color: #fff !important;
    width: 32px;
    height: 31px;
    border-radius: 9px;
    padding: 3px 0px;
    text-align: center;
}
.form-field {
    margin: 15px 0px;
    font-size: 16px;
    .number-input {
        width: 45%;
    }
  }

  ::ng-deep .mat-select-panel mat-option.mat-option {
    height: unset;
  }

  ::ng-deep .mat-option-text.mat-option-text {
    white-space: normal;
  }

  .regex-option{
      span {
        height: 20px;
      }
      // mat-hint {
      //     font-size: 11px;
      // }

  }