@import "../../constants/variables.scss";

.mat-button-toggle-label-content ,.mat-button-toggle-standalone,.mat-button-toggle-checked {
  box-shadow: unset !important;
  background: #fff !important;
}
.change-password {
.border-title{
  position: relative;
  max-height: 580px;
  border: 1px solid #000;
  padding: 70px 30px 20% 30px;
  box-sizing: border-box;
}
.block-title{
  position: absolute;
  left: 20px;
  top: -21px;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fff;
}
.action-message{
  text-align: center;
}
.title{
  text-align: center;
  margin: 0;
}
.sub-title{
  text-align: center;
  margin: 0 0 15px 0;
}

.btn-submit{
  margin-top: 10px;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}
}

.code-request{
  max-width: 380px;
  margin: 0 auto;
}
.enter-code {
  max-width: 380px;
  margin: 0 AUTO;
.code-form{
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  margin: 0 auto;
}
.number{
  max-width: 30px
}
.timer{
  display: flex;
  align-items: center;
.value{
  margin-right: 5px;
}
}
}

.new-password{
  max-width: 380px;
  margin: 0 auto;
}

.link{
  padding: 10px;
  font-size: 1.1rem;
  text-transform: capitalize;
&:hover:after{
   width: calc(100% - 20px);
 }
}

@import "src/app/core/scss/fuse";

:host {

  #forgot-password {
    width: 100%;
    overflow: auto;
    background-size: cover;

    #forgot-password-form-wrapper {
      flex: 1 0 auto;
      padding: 32px;

      @include media-breakpoint('xs') {
        padding: 16px;
      }

      #forgot-password-form {
        width: 384px;
        max-width: 384px;
        padding: 32px;
        text-align: center;
        background: #FFFFFF;
        // @include mat-elevation(16);

        @include media-breakpoint('xs') {
          padding: 24px;
          width: 100%;
        }

        .logo {
          width: 128px;
          margin: 32px auto;
        }

        .title {
          font-size: 20px;
          margin: 16px 0 32px 0;
        }

        form {
          width: 100%;
          text-align: left;

          mat-form-field {
            width: 100%;
          }

          .submit-button {
            width:100%;
            display: block;
            

            @include media-breakpoint('xs') {
              width: 90%;
            }
          }

          .margin-top {
            margin-top: 30px;
          }
        }

        .login {
          margin: 32px auto 24px auto;
          width: 250px;
          font-weight: 500;

          .text {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

