<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex >
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <p class="contact-name name-link" fxFlex irmsTextOverflow
      [matMenuTriggerFor]="contactInfo" #trigger="matMenuTrigger" >
      <!-- (mouseenter)="trigger.openMenu()" (mouseleave)="trigger.closeMenu()" -->
      {{data.fullName}}</p>
    </div>
  </div>
  <mat-menu #contactInfo="matMenu"  xPosition="after" yPosition="below" (mouseleave)="trigger.closeMenu()" class="contact-tip">
    <button mat-menu-item>
      <mat-icon>email</mat-icon>
      <span>{{data.email  || "-"}}</span>
    </button>
    <button mat-menu-item >
       <mat-icon>phone</mat-icon>
      <span>{{data.phone || "-"}}</span>
    </button>
    <!-- <button mat-menu-item>
      <mat-icon svgIcon="whatsapp"></mat-icon>
      <span>{{data.whatsapp  || "-"}}</span>
    </button> -->
  </mat-menu>