@import "../../form/form.component.scss";
.review-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .questions-container {
        overflow-y: auto;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    .review-question {
        padding: 8px 15px;
        width: 100%;
        @media screen and (min-width: $break-small) {
            width: 40vw;
        }
        
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
    }
    .submit-area {
        padding: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
        @media screen and (min-width: $break-small) {
            width: unset;
        }
        .submit-button {
            width: 100%;
            &:disabled {
                pointer-events: none;
                background-color: rgba(207, 207, 207, 0.835) !important;
            }

        }
    }
}
.optionalIndicator {
    color: rgba(0, 0, 0, 0.569);
    font-size: 17px;
    font-weight: 500;
}


