<div class="entity-info" fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <div class="info" fxFlex fxLayout="row" fxLayoutAlign="space-between center" [routerLink]="[data.id+'/RFI']">
        <div class="list-detail-item" >
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-icon class="item-status" [ngClass] ="{'live': data.status == status.Live, 'ended': data.status == status.Ended, 'disabled': data.status == status.Disabled}">
                </mat-icon>
                <div class="details" fxLayout="column" fxLayoutAlign="start start"> 
                    <mat-hint class="status-text">
                        <span *ngIf="data.status == status.Live">Live</span>
                        <span *ngIf="data.status == status.Disabled">Disabled on {{data.lastUpdate  | date}}</span>
                        <span *ngIf="data.status == status.Ended">Ended on {{data.lastUpdate  | date}}</span>
                        </mat-hint>
                    <h2 class="title" irmsTextOverflow>{{data.name}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>