<form [formGroup]="acceptedForm" fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="save()" #formRef="ngForm">
    <div fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="row" class="parent">
            <div fxFlex="55" fxLayout="column" >
                <h2>Selected Important Fields</h2>
                <mat-hint>Fields that you are collecting from your guest.</mat-hint>
                <div class="selectedFields" *ngIf="fields.length > 0; else listLoading">
                    <div *ngFor="let field of fields" fxLayout="row">
                        <div fxLayout="column" fxFlex="50" fxLayoutAlign="center start">
                            <span>{{field.question}}</span>
                        </div>
                        <div fxLayout="column" fxFlex="5" fxLayoutAlign="center center">
                            <span><mat-icon>arrow_right_alt</mat-icon></span>
                        </div>
                        <div fxLayout="column" fxFlex="45" fxLayoutAlign="center start">
                            <span>{{field.field}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="45" fxLayout="column" fxLayoutAlign="center center">
                <irms-rfi-media-group [isLoading]="!formUpserted" [form]="rfiForm" (edit)="createForm()"></irms-rfi-media-group>
                <!-- <button *ngIf="!rfiForm" type="button" mat-flat-button class="primary-button" (click)="createForm()">
                    <mat-icon>add</mat-icon><span>Create form</span>
                </button> -->
            </div>
        </div>
    </div>
    <h2 class="channels">Channels</h2>
    <div class="form-field-group" fxFlex="100">
        <div fxFlex="60" fxLayoutAlign="start center">
            How would you like to communicate this information to your guest?
        </div>
        <div fxFlex="40" fxLayoutAlign="center center">
            <button type="button" mat-flat-button class="primary-button" (click)="selectPrefMedium()">
                <span>Set Preferred Medium for Guests</span>
            </button>
        </div>
    </div>
    <irms-media-template-group [activeMedia]="activeMedia" [isReview]="true" [smsTemplate]="smsTemplate" [whatsappTemplate]="whatsappTemplate"
            [showRsvp]="false" [disabled]="!isLoaded" [emailTemplate]="emailTemplate"></irms-media-template-group>

    <!-- <div class="info-tip" fxLayout="row">
        <mat-icon>how_to_vote</mat-icon>
        <div class="info-text" fxLayout="column">
            <h2>Request for more Information</h2>
            <p>Make the most out of your campaign by communicating with your accepted guests. <br>
                You can ask them to provide any additional information needed.</p>
        </div>
    </div> -->
    <div class="row btn-group" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" fxFlex="100">
        <div class="btn">
            <button mat-button (click)="cancel()" class="secondary2-button"
                    #cancel2>Cancel</button>
                    <!-- Add this to button if you want exit to go back to the list's page [routerLink]="['../']" -->
                <button mat-button (click)="goBack()" [irmsButtonLoader]="isBack" [disabled]="isSubmitting" class="secondary-button"
                    #cancel2>Back</button>
        </div>
        <div class="btn">
            <button mat-button class="primary-button" [irmsButtonLoader]="isSubmitting" [disabled]="isBack" (click)="submit()">Confirm</button>
        </div>
    </div>
</form>
<ng-template #listLoading>
    <div class="selectedFields" >
        <irms-generic-content-loader [loaderType]="'section-list'"></irms-generic-content-loader>
    </div>    
</ng-template>