.hello {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    h1{
        font-size: 30px;
    }
    span {
        font-style: italic;
    }
}
.svg, svg{
    width: 100%;
}