@import "../../../../../constants/variables.scss";
.main-block {
    margin: 32px;

    .main-block-header {
        text-align: center;        
        margin-bottom: 32px;

        .main-block-header-text {
            padding: 8px 64px;
        }
    }
}