<div *ngIf="question.choices.length < 5 && !reviewMode" id="{{question.id}}">
  <div class="options" *ngFor="let choice of question.choices; let i = index">
    <input autofocus id="{{question.id}}_{{i}}" (change)="gotoNext()" (focus)="setAsCurrent()"
      [formControl]="inputControl" type="radio" [value]="choice[valueProperty]" [required]="question.required">
    <label *ngIf="isArabic" [ngStyle]="{'color': theme.answers.color}" for="{{question.id}}_{{i}}"
      class="answer_block">{{choice.labelArabic}}</label>
    <label *ngIf="!isArabic" [ngStyle]="{'color': theme.answers.color}" for="{{question.id}}_{{i}}"
      class="answer_block">{{choice.label}}</label>
  </div>
</div>
<div *ngIf="question.choices.length < 5 && reviewMode" id="{{question.id}}">
  <mat-form-field class="swipper-form-autocomplete" fxFill [ngStyle]="{'color': theme.answers.color}">
    <mat-select [formControl]="inputControl" [ngStyle]="{'color': theme.answers.color}"
                panelClass="swipper-form-panel">
      <mat-option *ngFor="let choice of question.choices; let i = index"  [ngStyle]="{'color': theme.answers.color}"
      [value]="choice[valueProperty]">
      {{isArabic ? choice.labelArabic : choice.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="question.choices.length >= 5" id="{{question.id}}">
  <div>
    <mat-form-field class="swipper-form-autocomplete" fxFill>
      <input matInput type='text' [formControl]="mockInput" [matAutocomplete]="auto" [ngStyle]="{'color': theme.answers.color}"
        irmsEnforcedInput>
        <button *ngIf="mockInput.value !== ''" mat-icon-button matSuffix (click)="clearAutoComplete()" [attr.aria-label]="'Clear'">
          <mat-icon>clear</mat-icon>
          </button>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName.bind(this)">
        <mat-option class="auto-dropdown" *ngFor="let item of filteredArray | async" 
        [value]="item" [ngStyle]="{'color': theme.answers.color}"
        (click)="lookups.indexOf(question.mappingField.toLowerCase()) >-1 ? inputControl.setValue(item.value) : inputControl.setValue(item[valueProperty])">
          {{displayName(item)}}
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
  </div>
</div>
<div class="error-message" *ngIf="inputControl.hasError('required') && mockInput.dirty">
  <span *ngIf="isArabic">هذا الحقل مطلوب</span>
  <span *ngIf="!isArabic">Please fill this in</span>
</div>
<div class="error-message" *ngIf="!inputControl.valid && !inputControl.hasError('required') && inputControl.dirty">
  <span *ngIf="isArabic">هذا لا يبدو صحيحاً</span>
  <span *ngIf="!isArabic">Hmm...This doesn't seem valid</span>
</div>