@import "../../../../constants/variables.scss";
@import "../../../../constants/mixins.scss";

:host {
    width: 80vw;
    max-width: 100%;

    @include respond-to($phone and $tablet-portrait) {
        width: 100vw;
    }
}

.info-icon {
    font-size: 17px;
    color: $accent-color !important;
}