<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center" fxFlex="78">
                <mat-icon [routerLink]="['../../']" class="cursor-pointer logo-icon" [@animate]="{
                value: '*',
                params: { delay: '50ms', scale: '0.2' }
            }">
                    arrow_back
                </mat-icon>
                <span fxFlex="90" class="logo-text h1 section-heading" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                    {{campaignName}}
                </span>                
            </div>
            <div class="btn-group" fxFlex="15">
                <button mat-flat-button class="primary-button">Disable Campaign</button>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">

            <!-- CONTENT -->
            <div class="content-area" fxLayout="column" fxFill>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link
                    *ngFor="let tab of tabGroup"
                    [routerLink]="tab.link"
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive">
                    {{tab.label}}
                    </a>
                    </nav>
                    <router-outlet></router-outlet>
            </div>

            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>
<ng-template #loading>
    <irms-generic-content-loader [loaderType] = "'generic'"></irms-generic-content-loader>
</ng-template>
