@import "../../../../../../../constants/variables.scss";
.response-item {
    margin: 15px;
    border-bottom: $theme-box-border;
    .question-number {
        color: $primary-color;
        font-weight: 600;
    }
    .question-container {
        .question {
            color: $primary-color;
            font-weight: 600;
        }
        .mapping {
            font-weight: 600;
        }
        .response-collection {
            width: auto;
            margin: 10px ;
            .list {
                position: relative;
                max-width: 65vw;
                .option {
                    border-bottom: $theme-border;
                    height: auto;
                    min-height: 48px;
                    padding: 12px 0px;
                }
            }
            .list-area {
                max-height: 48vh;
                overflow: auto;
                position: relative;
            }
        }
        .secondary2-button {
            height: 36px;
        }
    }
}

.option {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	text-align: left;
}
.option-label {
	left: 0;
    text-align: left;
    margin: 10px;
}
.results {
	height: 34px;
	width: 100%;	
    border-radius: 4px;
}
.results .on {
    height: 34px;
	opacity: 0.75;
    width: 0;
    border-radius: 4px;
}
.results .on .count {
	line-height: 34px;
	font-size: 19px;
	vertical-align: middle;
	text-align: left;
	position: relative;
	left: 81%;
	display: inline-block;
}
.option-label, .results .on .count {
    color: $primary-color;
  }
  
  .results {
    background-color: $accent-transparent;
  }
  
  .results .on {
    background-color: $accent-color;
  }
.list-partial {
    position: relative;
}
.list-partial:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                        rgba(255,255,255, 0), 
                        rgba(255,255,255, 1) 85%);
    width    : 100%;
    height   : 4em;
}
