@import "../../../../../../constants/variables.scss";
.content-section {
    padding: 10px 10px;
    max-height: 75vh !important;
    .content-sub-section {
        padding: 20px 0px;
        .button-input {
            // width: 65%;
            padding: 2%;
            border-radius: 4px;
            margin-top: 10px;
            margin-inline-end: 0px;
            text-align: center;
          }
    }
}

// ::ng-deep .mat-tab-body.mat-tab-body-active {
//     max-height:74vh !important;
// }
.content-type {
    margin-block-end: 12px;
    .type-chip {
        background-color: $primary-color;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 24px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        border-radius: 4px;
        padding: 0px 7px;
        margin-right: 4px;
        color: $theme-white;
    }
}

.info-tip{
    font-size: .82em;
}
// .tox .tox-editor-container{
//     max-height: 40vh !important;
// }
// .content-sub-section{
//     max-height: 54vh !important;
// }
// .tox.tox-editor-container {
//     max-height:40.5vh !important;
// }
// .tox.tox-tinymce{
//     max-height:42vh !important;
//     height:42vh !important;
// }

.toggleDiv{
    padding:10px;
    mat-slide-toggle{
        font-weight: 600;
    }
}