<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [routerLink]="['../']" class="cursor-pointer logo-icon s-32 mr-16" [@animate]="{
                value: '*',
                params: { delay: '50ms', scale: '0.2' }
            }">
                    arrow_back
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                    Select a Campaign template type
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">

            <!-- CONTENT -->
            <div class="content-area" fxLayout="column" fxFill>
                <h3 [@animate]="{value:'*',params:{y:'100%'}}">Start with a pre-built Welcome campaign template, or
                    select custom to build your own.</h3>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-card class="template-card" fxLayout="column" [@animate]="{value:'*',params:{y:'100%'}}">
                        <mat-card-title fxFlex="20">Welcome</mat-card-title>
                        <mat-card-content fxFlex="40">
                            <p>
                                Greet new contacts with timely messages as soon as they are added to a list
                            </p>
                        </mat-card-content>
                        <mat-card-footer>
                            <button mat-flat-button class="primary-button">Start</button>
                        </mat-card-footer>
                    </mat-card>
                    <mat-card class="template-card" fxLayout="column" [@animate]="{value:'*',params:{y:'100%'}}">
                        <mat-card-title fxFlex="20">Custom</mat-card-title>
                        <mat-card-content fxFlex="40">
                            <p>
                                Build your own RSVP campaign from start
                            </p>
                        </mat-card-content>
                        <mat-card-footer>
                            <button mat-flat-button class="primary-button" (click)="create()" 
                            [irmsButtonLoader]="rsvpLoading"><span>Start creating</span></button>
                        </mat-card-footer>
                    </mat-card>
                    <mat-card class="template-card" fxLayout="column" [@animate]="{value:'*',params:{y:'100%'}}">
                        <mat-card-title fxFlex="20">WhatsApp Opt-In</mat-card-title>
                        <mat-card-content fxFlex="40">
                            <p>
                                Collect guests consent to receive messages over WhatsApp from your tenant.
                            </p>
                        </mat-card-content>
                        <mat-card-footer>
                            <button mat-flat-button class="primary-button" (click)="whatsAppOptIn()" 
                            [irmsButtonLoader]="whatsappLoading"><span>Start creating</span></button>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>

            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>