<div *ngIf="section === 'welcome' && formObj && !responseOnlyMode" class="form-section" [ngClass]="{'rtl': isArabic}" 
[@animate]="{value:'*',params:{y:'100%'}}" fxLayout="column" fxLayoutAlign="start center">
    <div class="content_wrapper">
        <div class="inner_wrapper">
            <div class="content" [innerHTML]="formObj.welcome.content | safehtml"></div>
        </div>
        <irms-continue-button [theme]="themeObj.buttons" [buttonText]="formObj.welcome.button" (next)="gotoForm()"></irms-continue-button>
    </div>
</div> 
<div *ngIf="section === 'rsvp' && formObj && !responseOnlyMode" [ngClass]="{'hide': section !== 'rsvp'}" class="form-section" [ngClass]="{'rtl': isArabic}" 
[@animate]="{value:'*',params:{y:'100%'}}" fxLayout="column" fxLayoutAlign="start center">
    <div class="content_wrapper">
        <div class="inner_wrapper">
            <div class="content" [innerHTML]="formObj.rsvp.content | safehtml"></div>
        </div>
        <irms-continue-button [theme]="themeObj.buttons" [buttonText]="formObj.rsvp.acceptButton" (next)="acceptInvite()" [hideNextHint]="true">
        </irms-continue-button>
        <irms-continue-button [theme]="themeObj.buttons" [hideNextHint]="true" [buttonText]="formObj.rsvp.rejectButton" (next)="rejectInvite()">
        </irms-continue-button>
    </div>
</div>
<div *ngIf="section === 'accepted' && formObj" class="form-section" [ngClass]="{'rtl': isArabic}"
[@animate]="{value:'*',params:{y:'100%'}}"  fxLayout="column" fxLayoutAlign="start center">
    <div class="content_wrapper">
        <div class="inner_wrapper">
            <div class="content" [innerHTML]="formObj.accept.content | safehtml"></div>
        </div>
    </div>
</div>
<div *ngIf="section === 'rejected' && formObj" class="form-section" [ngClass]="{'rtl': isArabic}" 
[@animate]="{value:'*',params:{y:'100%'}}" fxLayout="column" fxLayoutAlign="start center">
    <div class="content_wrapper">
        <div class="inner_wrapper">
            <div class="content" [innerHTML]="formObj.reject.content | safehtml"></div>
        </div>
    </div>
</div>