<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="profileHeader" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="mb-24 mb-md-0" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div>
                    <irms-image [image]="user.avatarId" [isAvatar]="true" [isLarger]="true"></irms-image>
                </div>
                <div fxLayout="column">
                    <span class="logo-text h1" [@animate]="{
                                value: '*',
                                params: { delay: '100ms', x: '-25px' }
                            }">
                        {{user.fullName}}
                    </span>
                    <span>
                        {{user.role}}
                    </span>
                </div>

            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg generic-content-card">
            <!-- CONTENT -->
            <div class="content-area" fxLayout="column" fxFill>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link *ngFor="let tab of tabGroup" [routerLink]="tab.link" routerLinkActive
                        #rla="routerLinkActive" [active]="rla.isActive">
                        {{tab.label}}
                    </a>
                </nav>
                <router-outlet></router-outlet>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>