<mat-dialog-content class="menu">
    <div class="custom-select-area" fxLayout="column" fxLayoutAlign="center stretch">
        <div class="search-bar" fxLayout="row">
            <irms-generic-search-bar fxFlex="100" [searchPlaceholder]="'Search for lists'" [emitQuery]="true"
                (searchText)="searchQueryChange($event)">
            </irms-generic-search-bar>
        </div>
        <mat-accordion class="lists-wrapper">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="97">
                        <div>
                            <span class="panel-title">Contacts</span>
                        </div>
                        <h3 class="count chip2" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>check_box</mat-icon>
                            <mat-hint>{{selectedIds.contacts.length}}</mat-hint>
                        </h3>
                    </div>
                </mat-expansion-panel-header>
                <div class="list" fusePerfectScrollbar>
                    <irms-generic-list [dataListObservable]="isSearching ? selectedContactLists : contacts"
                        [dataListItemBody]="listItemComponent" [selectedIds]="selectedIds.contacts" [selectable]="true"
                        (onCheckChange)="filterChange($event, 'contacts')">
                    </irms-generic-list>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="97">
                        <div>
                            <span class="panel-title">Guests</span>
                        </div>
                        <h3 class="count chip1" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon>check_box</mat-icon>
                            <mat-hint>{{selectedIds.guests.length}}</mat-hint>
                        </h3>
                    </div>
                </mat-expansion-panel-header>
                <div class="list" fusePerfectScrollbar>
                    <irms-generic-list [dataListObservable]="isSearching ? selectedGuestLists : guests"
                        [dataListItemBody]="listItemComponent" [selectedIds]="selectedIds.guests" [selectable]="true"
                        (onCheckChange)="filterChange($event, 'guests')">
                    </irms-generic-list>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-flat-button secondary-button" (click)="close()">Cancel</button>
    <button class="mat-flat-button primary-button" (click)="confirm()">Save</button>
</mat-dialog-actions>